.widget_mc4wp_form_widget form p input[type="submit"] {
  background-color: var(--wp--preset--color--secondary);
}

.widget.widget_newsletterwidget form {
  div input[type="submit"],
  p input[type="submit"] {
    background-color: var(--wp--preset--color--secondary);
  }
}

input {
  &[type="button"],
  &[type="reset"] {
    background-color: var(--wp--preset--color--secondary);
  }
}

a.button {
  background-color: var(--wp--preset--color--secondary);
}

#secondary div.generic-button a,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.entry-header .entry-title a.button,
.boss-search-wrapper label:after {
  background-color: var(--wp--preset--color--secondary);
}

#trigger-sidebar:hover .ccluk-side-icon {
  background-color: var(--wp--preset--color--primary);
  &:before, &:after {
    background-color: var(--wp--preset--color--primary);
  }
}

.dir-header span {
  color: var(--wp--preset--color--primary);
}

.post-author-info {
  .entry-meta a:not(.entry-date), .author-name a:hover {
    color: var(--wp--preset--color--primary);
  }
}

.posts-stream ul li h2 a:hover, 
.entry-meta a.read-more {
  color: var(--wp--preset--color--primary);
}

.entry-content blockquote .author, 
.comment-content blockquote .author, 
.entry-header .entry-title a:hover, 
.widget_search #searchform button i:before {
  color: var(--wp--preset--color--primary);
}

.entry-meta a.read-more {
  color: var(--wp--preset--color--primary);
}

.footer-inner-top a:hover {
  color: var(--wp--preset--color--primary);
}

.pagination .current {
  background-color: var(--wp--preset--color--primary);
}

.loader {
  background-color: var(--wp--preset--color--primary);
  &:before, &:after {
    background-color: var(--wp--preset--color--primary);
  }
}

@-webkit-keyframes load1 {
  0%,
        80%,
        100% {
    box-shadow: 0 0 var(--wp--preset--color--primary);
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em var(--wp--preset--color--primary);
    height: 5em;
  }
}

@keyframes load1 {
  0%,
        80%,
        100% {
    box-shadow: 0 0 var(--wp--preset--color--primary);
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em var(--wp--preset--color--primary);
    height: 5em;
  }
}

.entry-meta a.read-more,
input[type="submit"] {
  border-color: var(--wp--preset--color--secondary);
}

.main-navigation {
  .nav-menu > li:hover > a {
    box-shadow: 0 -2px 0 var(--wp--preset--color--primary) inset;
  }
  div > ul > {
    .current-menu-item > a, 
    .current-menu-ancestor > a {
      box-shadow: 0 -2px 0 var(--wp--preset--color--primary) inset;
    }
  }
}

.header-button.underlined {
  box-shadow: 0 -1px 0 var(--wp--preset--color--primary) inset;
}

input {
  &[type="checkbox"] + {
    span:before, label:before, strong:before {
      @include box-shadow(0px 0px 0px 2px var(--wp--preset--color--primary));
    }
  }
  &[type="radio"] + {
    span:before, label:before, strong:before {
      @include box-shadow(0px 0px 0px 2px var(--wp--preset--color--primary));
    }
  }
}

/********** Desktop  *************/

.is-desktop {
  .header-button:hover {
    background-color: var(--wp--preset--color--primary);
  }
}

.formatted-content {
  background-color: $white;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .side-panel {
    background-color: $white;
  }
}

body {
  #content article {
    background-color: $white;
  }
}

.site-content {
  nav.nav-single, 
  #comments {
    background-color: $white;
  }
}

.main-navigation li ul {
  ul {
    background-color: $white;
  }
  background-color: $white;
}

#header-search form, 
.site-header {
  background-color: $white;
}

/***************** Desktop ******************/

.footer-inner-bottom {
  background-color: $dark;
}
