.cdns-upgrade {
    /* height: 20px; */
    width: 130px;
    background-color: #ee591f;
    display: block;
    color: #FFF;
    padding: 10px 30px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3px;
}

.cdns-upgrade:hover, .cdns-upgrade:visited, .cdns-upgrade:active, .cdns-upgrade:focus {
    color: #FFF !important;
}

#cdns-reviwe {
    background-color: #14A050;
}

#cdns-docs {
    background-color: #34495e;
}
#cdns-upgrade-sevice {
    background-color: #298CBA;
    width: 80%;
    padding: 10px;
}
.pro-vesrion {
    margin-top: 20px;
}