/*--------------------------------------------------------------
Custom stylesheet.

*/
/** Import partials **/
/** Variables **/
#logo-area {
  width: 380px; }

.site {
  padding-top: 0; }

.site-header .site-title {
  width: 360px; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
.popup-content .input:not([type=checkbox]):not([type=radio]):not([type=button]),
.popup-content input:not([type=checkbox]):not([type=radio]):not([type=button]) {
  background-color: #fff;
  border-width: 1px 1px 1px 1px;
  border-color: #54ae68;
  border-style: solid solid solid solid;
  padding: 6px 12px;
  padding: 0.6rem 1.2rem; }

h1, h2, h3, h4, h5, h6, ul, ol, dd, table, p, address, pre, hr, figure, video {
  margin-bottom: 16px; }

h3, h4 {
  line-height: 1.6; }

.bluebox {
  width: 100%;
  color: #fff;
  background-color: rgba(0, 152, 218, 0.85);
  padding: 20px 50px;
  padding: 2rem 5rem;
  margin: 20px 0px;
  margin: 2rem 0rem; }

#save_as_draft:hover {
  color: #000;
  background-color: #54ae68; }

.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
  font-size: 18px; }

.dir-header {
  border-bottom: 1px solid #54ae68; }

.archive.post-type-archive .site-content {
  max-width: 780px; }

.archive #content > .archive-header h1,
.blog #content > .archive-header h1 {
  color: #54ae68; }
.archive #main,
.blog #main {
  max-width: 100%;
  display: block; }
  .archive #main article,
  .blog #main article {
    padding-top: 0 !important; }
  .archive #main .post-author,
  .blog #main .post-author {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    width: 165px;
    float: left;
    position: relative;
    z-index: 1;
    padding-right: 20px;
    padding-bottom: 10px; }
    .archive #main .post-author .author,
    .blog #main .post-author .author {
      display: inline-block;
      width: 84px;
      position: relative; }
      .archive #main .post-author .author img,
      .blog #main .post-author .author img {
        width: 50px;
        height: 50px;
        margin-right: 23px;
        vertical-align: bottom;
        margin-bottom: 20px; }
    .archive #main .post-author .author-details .author-middle,
    .blog #main .post-author .author-details .author-middle {
      display: none; }
    .archive #main .post-author .author-follow,
    .blog #main .post-author .author-follow {
      display: none; }
    .archive #main .post-author .entry-date time,
    .blog #main .post-author .entry-date time {
      border-bottom: none; }

.entry-header .entry-title {
  margin-top: 10px;
  margin-top: 1rem;
  font-weight: 600; }
  .entry-header .entry-title a {
    color: #22a7f0; }

#save_as_draft,
.popup-content .button:not(.ed_button),
#buddypress form#whats-new-form #whats-new-submit input[type=submit],
input[type=submit] {
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: #54ae68;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#bbpress-forums fieldset.bbp-form input,
#bbpress-forums fieldset.bbp-form textarea {
  padding: 6px 12px;
  padding: 0.6rem 1.2rem; }

.formatted-content {
  color: rgba(0, 0, 0, 0.6); }

.post-author .load-more-posts,
.trigger-sidebar {
  display: none; }

.single-item.groups #buddypress #item-header span.activity {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); }

/*--------------------------------------------------------------
Mobile Header
--------------------------------------------------------------*/
#mobile-header {
  background-color: #fff !important; }
  #mobile-header h1 {
    color: #000; }
    #mobile-header h1 a {
      color: #000; }
  #mobile-header .left-btn:before,
  #mobile-header .right-btn:before {
    color: #333; }

/*--------------------------------------------------------------
Is mobile
--------------------------------------------------------------*/
body.is-mobile.single #primary,
body.is-mobile.single .site-content, body.is-mobile.archive #primary,
body.is-mobile.archive .site-content, body.is-mobile.blog:not(.bp-user) #primary,
body.is-mobile.blog:not(.bp-user) .site-content {
  max-width: 780px;
  margin: 0px auto;
  margin: 0rem auto; }

/** Navigation **/
@media screen and (min-width: 481px) {
  .main-navigation li a {
    color: rgba(0, 0, 0, 0.7); }
  .main-navigation .nav-menu > li:hover, .main-navigation .nav-menu > li.current-menu-item, .main-navigation .nav-menu > li.current-menu-ancestor {
    background-color: #54ae68; }
    .main-navigation .nav-menu > li:hover > a, .main-navigation .nav-menu > li.current-menu-item > a, .main-navigation .nav-menu > li.current-menu-ancestor > a {
      color: #fff; } }
.single .header-area,
.single-post .header-area {
  position: relative; }
  .single .header-area .entry-header,
  .single .header-area .sap-post-meta,
  .single-post .header-area .entry-header,
  .single-post .header-area .sap-post-meta {
    padding-left: 15px;
    padding-right: 15px; }
  .single .header-area .sap-post-meta,
  .single-post .header-area .sap-post-meta {
    margin-top: 15px; }
.single .entry-content.entry-summary,
.single-post .entry-content.entry-summary {
  padding-left: 15px;
  padding-right: 15px; }
.single .entry-post-thumbnail,
.single-post .entry-post-thumbnail {
  max-height: 425px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
.single .entry-header,
.single .entry-header.has-image,
.single .entry-header.not-image,
.single-post .entry-header,
.single-post .entry-header.has-image,
.single-post .entry-header.not-image {
  position: static;
  margin: 0px auto;
  margin: 0rem auto;
  text-align: left;
  max-width: 780px; }
  .single .entry-header h1,
  .single .entry-header.has-image h1,
  .single .entry-header.not-image h1,
  .single-post .entry-header h1,
  .single-post .entry-header.has-image h1,
  .single-post .entry-header.not-image h1 {
    color: #000;
    text-shadow: none;
    padding: 5px 0px;
    padding: 0.5rem 0rem;
    line-height: 1.4;
    max-height: auto;
    text-align: left;
    font-size: 32px; }
  .single .entry-header .post-author-info,
  .single .entry-header.has-image .post-author-info,
  .single .entry-header.not-image .post-author-info,
  .single-post .entry-header .post-author-info,
  .single-post .entry-header.has-image .post-author-info,
  .single-post .entry-header.not-image .post-author-info {
    border-top: none; }
    .single .entry-header .post-author-info .details,
    .single .entry-header.has-image .post-author-info .details,
    .single .entry-header.not-image .post-author-info .details,
    .single-post .entry-header .post-author-info .details,
    .single-post .entry-header.has-image .post-author-info .details,
    .single-post .entry-header.not-image .post-author-info .details {
      padding-top: 20px; }
    .single .entry-header .post-author-info .authors-avatar,
    .single .entry-header.has-image .post-author-info .authors-avatar,
    .single .entry-header.not-image .post-author-info .authors-avatar,
    .single-post .entry-header .post-author-info .authors-avatar,
    .single-post .entry-header.has-image .post-author-info .authors-avatar,
    .single-post .entry-header.not-image .post-author-info .authors-avatar {
      padding: 0 0 35px; }
    .single .entry-header .post-author-info .author-follow,
    .single .entry-header.has-image .post-author-info .author-follow,
    .single .entry-header.not-image .post-author-info .author-follow,
    .single-post .entry-header .post-author-info .author-follow,
    .single-post .entry-header.has-image .post-author-info .author-follow,
    .single-post .entry-header.not-image .post-author-info .author-follow {
      top: 20px; }
    .single .entry-header .post-author-info .entry-meta,
    .single .entry-header.has-image .post-author-info .entry-meta,
    .single .entry-header.not-image .post-author-info .entry-meta,
    .single-post .entry-header .post-author-info .entry-meta,
    .single-post .entry-header.has-image .post-author-info .entry-meta,
    .single-post .entry-header.not-image .post-author-info .entry-meta {
      font-size: 14px;
      padding-top: 10px; }
    .single .entry-header .post-author-info .entry-meta a,
    .single .entry-header .post-author-info .author-name a,
    .single .entry-header.has-image .post-author-info .entry-meta a,
    .single .entry-header.has-image .post-author-info .author-name a,
    .single .entry-header.not-image .post-author-info .entry-meta a,
    .single .entry-header.not-image .post-author-info .author-name a,
    .single-post .entry-header .post-author-info .entry-meta a,
    .single-post .entry-header .post-author-info .author-name a,
    .single-post .entry-header.has-image .post-author-info .entry-meta a,
    .single-post .entry-header.has-image .post-author-info .author-name a,
    .single-post .entry-header.not-image .post-author-info .entry-meta a,
    .single-post .entry-header.not-image .post-author-info .author-name a {
      color: #54ae68; }
.single #respond form input[type=text],
.single #respond form input[type=email],
.single #respond form textarea,
.single-post #respond form input[type=text],
.single-post #respond form input[type=email],
.single-post #respond form textarea {
  border: 1px solid #54ae68;
  padding: 12px; }
.single #respond form p,
.single-post #respond form p {
  text-align: right; }
  .single #respond form p input[type=submit],
  .single-post #respond form p input[type=submit] {
    margin-top: 5px;
    float: right; }

/* styles for pages */
body.page #primary article > .entry-header {
  margin: 12px 0px;
  margin: 1.2rem 0rem;
  border-bottom: 1px solid #54ae68; }
  body.page #primary article > .entry-header h1.entry-title {
    font-size: 35px;
    padding-bottom: 15px;
    color: #54ae68; }
  body.page #primary article > .entry-header a > .entry-title {
    color: #22a7f0; }
body.page #primary article.has-post-thumbnail > .entry-header {
  border-bottom: none;
  padding-bottom: 0; }
  body.page #primary article.has-post-thumbnail > .entry-header img {
    margin: 12px 0px;
    margin: 1.2rem 0rem; }
body.page #secondary,
body.page .default-page + #secondary, body.page.page-template #secondary {
  padding-top: 40px;
  padding-top: 4rem; }
body.page #content .row {
  margin-left: 0;
  margin-right: 0; }
body.page #secondary .widget_subpages {
  position: fixed;
  width: 290px; }
  body.page #secondary .widget_subpages ul > li a {
    display: inline-block;
    border-left: 10px solid;
    padding-left: 15px;
    font-weight: 400;
    font-size: 15px; }
    body.page #secondary .widget_subpages ul > li a:hover {
      color: #54ae68; }
  body.page #secondary .widget_subpages ul > li.first-menu-item a {
    font-size: 16px;
    font-weight: 500;
    border-left: 0;
    padding-left: 0; }
  body.page #secondary .widget_subpages ul > li.widget_subpages_current_page > a {
    color: #54ae68;
    pointer-events: none;
    cursor: default; }
  body.page #secondary .widget_subpages ul > li ul {
    margin-top: 10px;
    margin-top: 1rem; }

/* Home page */
body.page-template-homepage #main {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0; }
  body.page-template-homepage #main .section {
    display: block;
    width: 100%;
    padding: 20px 0 40px; }
    body.page-template-homepage #main .section#primary {
      padding: 0; }
    body.page-template-homepage #main .section .section-content {
      max-width: 1170px;
      margin: 0 auto;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body.page-template-homepage #main .section .section-content .list-item {
        width: 300px;
        margin: 20px;
        display: inline-block;
        text-align: left; }
        body.page-template-homepage #main .section .section-content .list-item > .entry-header {
          display: block;
          margin: 12px 0; }
          body.page-template-homepage #main .section .section-content .list-item > .entry-header > .entry-title {
            margin-top: 12px;
            line-height: 1.5;
            font-size: 22px;
            color: #54ae68; }
          body.page-template-homepage #main .section .section-content .list-item > .entry-header > a {
            display: block;
            margin: 0; }
            body.page-template-homepage #main .section .section-content .list-item > .entry-header > a > .entry-title {
              color: #22a7f0; }
          body.page-template-homepage #main .section .section-content .list-item > .entry-header img.wp-post-image {
            margin: 0; }
        body.page-template-homepage #main .section .section-content .list-item .entry-content .item-meta .activity {
          font-size: 85%;
          font-style: italic; }
        body.page-template-homepage #main .section .section-content .list-item .action .meta {
          font-size: 85%;
          font-style: italic; }
    body.page-template-homepage #main .section .section-title {
      text-align: center;
      max-width: 420px;
      margin: 0 auto; }
      body.page-template-homepage #main .section .section-title h4 {
        background-color: #22a7f0;
        padding: 15px 30px;
        margin: 10px 30px;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase; }
    body.page-template-homepage #main .section .section-footer {
      text-align: center;
      margin: 0 auto; }
    body.page-template-homepage #main .section.about .section-content {
      text-align: center;
      align-content: center; }
      body.page-template-homepage #main .section.about .section-content .list-item {
        padding: 30px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: #54ae68;
        color: #fff;
        font-size: 130%;
        text-align: center; }
    body.page-template-homepage #main .section.about .section-intro,
    body.page-template-homepage #main .section.about .section-footer {
      padding: 10px;
      max-width: 400px;
      text-align: center;
      margin: 0 auto; }
    body.page-template-homepage #main .section.posts .section-content {
      max-width: 1020px;
      text-align: center; }
    body.page-template-homepage #main .section.twitter #ctf .ctf-header {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      border-bottom: 0; }
      body.page-template-homepage #main .section.twitter #ctf .ctf-header a {
        float: none;
        margin: 0 auto;
        width: 320px; }
    body.page-template-homepage #main .section.twitter #ctf .ctf-tweets {
      display: flex;
      flex-direction: row column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      padding: 30px 2%; }
      body.page-template-homepage #main .section.twitter #ctf .ctf-tweets .ctf-item {
        width: 320px;
        align-self: flex-start;
        border-top: 0; }
    body.page-template-homepage #main .section.twitter #ctf .ctf-more {
      display: none; }
body.page-template-homepage .homepage-section-title > h4 {
  background-color: #22a7f0;
  padding: 15px 30px;
  margin: 10px 30px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase; }
body.page-template-homepage .site {
  padding-top: 0;
  padding-bottom: 70px; }
body.page-template-homepage .slide_content > .slide_content_wrap > .inner > .slide_text {
  display: table;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  background-color: rgba(0, 152, 218, 0.85); }
body.page-template-homepage .bb-slider-container .readmore a,
body.page-template-homepage .slide-content .button {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 14px 30px 13px;
  color: #fff;
  border: 2px solid;
  background-color: #54ae68;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  font-weight: 500; }
body.page-template-homepage #secondary {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0; }
  body.page-template-homepage #secondary.widget-area .widget h3.widgettitle {
    text-align: center; }
  body.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li {
    width: 30%;
    float: left;
    clear: right;
    margin-right: 3%; }
    body.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li > a > img {
      clear: both; }
    body.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li .rpwwt-post-title {
      display: block; }

/** Register **/
.register fieldset,
.register div#register-page .register-section,
.register div#register-page .security-question-section {
  border: none; }
.register .popup-content {
  background: rgba(255, 255, 255, 0.8); }
.register .popup-content input:not([type="checkbox"]):not([type="radio"]):not([type="button"]),
.register .popup-content .input:not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
  font-size: 18px; }
.register .entry-header h1.entry-title {
  color: #22a7f0; }
.register div#register-page {
  text-align: left;
  /* newsletter sighup checkbox */ }
  .register div#register-page p {
    font-size: 20px; }
  .register div#register-page .wp-social-login-widget {
    text-align: center; }
  .register div#register-page .register-section {
    box-shadow: none; }
    .register div#register-page .register-section label, .register div#register-page .register-section legend {
      font-size: 18px;
      color: #54ae68; }
    .register div#register-page .register-section h2 {
      color: #54ae68;
      font-weight: normal; }
    .register div#register-page .register-section#basic-details-section input {
      padding: 12px;
      height: auto; }
    .register div#register-page .register-section#profile-details-section .editfield {
      padding: 0; }
      .register div#register-page .register-section#profile-details-section .editfield fieldset {
        border: none;
        margin: 0;
        padding: 0; }
        .register div#register-page .register-section#profile-details-section .editfield fieldset legend {
          margin-bottom: 10px;
          line-height: 1; }
    .register div#register-page .register-section#profile-details-section .field-visibility-settings-toggle {
      display: none;
                    /*
                    span, button {
                        font-size: 12px;
                        line-height: 18px;
                    }

                    button {
                        margin-left: 10px;
                        border-radius: 3px;
                        padding: 3px 10px;
                        line-height: 18px;
                    }
                    */ }
  .register div#register-page .mc4wp-checkbox {
    text-align: center; }
    .register div#register-page .mc4wp-checkbox label strong {
      margin-right: 12px; }
    .register div#register-page .mc4wp-checkbox label span {
      color: #54ae68;
      font-size: 18px; }
  .register div#register-page .submit {
    margin: 10px auto 24px;
    max-width: 400px;
    text-align: center; }

#findYourMP form {
  width: 80%;
  margin: 0 auto;
  font-size: 20px; }

#findYourMP form label {
  width: 30%;
  padding-right: 30px; }

#findYourMP form input[type=text] {
  width: 35%;
  max-width: 400px; }

/** Styles for plugins etc. **/
/** Visual Composer **/
.vc_gitem-post-data {
  margin-bottom: 0; }

.vc_separator .vc_sep_holder {
  padding: 15px 30px; }

.vc_separator .vc_sep_holder .vc_sep_line {
  color: #22a7f0; }

.vc_btn3.vc_btn3-color-juicy-pink,
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
  border-radius: 5px;
  background-color: #54ae68; }

.vc_btn3.vc_btn3-color-juicy-pink:hover,
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover {
  color: #000;
  background-color: #54ae68; }

/* Buddypress */
body.buddypress.group-home #buddypress .buddypress-content #item-body #subnav,
body.buddypress.group-home #buddypress .buddypress-content #item-body #whats-new-form {
  display: none; }
body.buddypress #buddypress #group-settings-form input[type="submit"],
body.buddypress #buddypress #create-group-form input[type="submit"] {
  border-radius: 5px;
  background-color: #54ae68;
  border: none;
  padding: 12px 24px;
  padding: 1.2rem 2.4rem;
  color: #fff !important; }
  body.buddypress #buddypress #group-settings-form input[type="submit"]:hover,
  body.buddypress #buddypress #create-group-form input[type="submit"]:hover {
    color: #000;
    background-color: #54ae68; }
body.buddypress #buddypress .standard-form div.submit input,
body.buddypress #buddypress #save_as_draft {
  border-radius: 5px;
  background-color: #54ae68;
  border: none;
  padding: 12px 24px;
  padding: 1.2rem 2.4rem;
  color: #fff !important; }
  body.buddypress #buddypress .standard-form div.submit input:hover,
  body.buddypress #buddypress #save_as_draft:hover {
    color: #000;
    background-color: #54ae68; }
body.buddypress #buddypress .standard-form .datebox,
body.buddypress #buddypress .standard-form input[type=text],
body.buddypress #buddypress .standard-form input[type=email],
body.buddypress #buddypress .standard-form input[type=password],
body.buddypress #buddypress .standard-form textarea {
  border: 1px solid #54ae68; }
body.buddypress #buddypress .groups-members-search input[type=text] {
  padding: 6px 12px;
  padding: 0.6rem 1.2rem; }

/*--------------------------------------------------------------
Responsive media queries (mobile styles)
--------------------------------------------------------------*/
#mobile-right-panel .sub-menu {
  background: rgba(0, 0, 0, 0.9); }
#mobile-right-panel li a {
  color: #22a7f0; }
  #mobile-right-panel li a:hover {
    color: #54ae68; }
#mobile-right-panel li.current-menu-item {
  background-color: #fff; }
  #mobile-right-panel li.current-menu-item a {
    color: #54ae68; }

/*--------------------------------------------------------------
MAXIMUM width of 520 pixels (large phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 520px) {
  .single-ccluk_news .entry-header.has-image h1 {
    font-size: 30px;
    max-height: 200px;
    overflow: auto;
    padding: 0; }

  .bb-slider-container .title {
    font-size: 20px !important; }

  .post-author-info .author-follow {
    right: 0; } }
/*--------------------------------------------------------------
MAXIMUM width of 480 pixels (phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  .single-ccluk_news .entry-header.has-image h1 {
    font-size: 24px; } }
/*--------------------------------------------------------------
MINIMUM width of 481 pixels (phones and larger)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 721px) {
  /*
  	@import "partials/min-width-721px";
  */ }
/*--------------------------------------------------------------
MINIMUM width of 1025 pixels (desktops)
--------------------------------------------------------------*/
@media screen and (min-width: 1025px) {
  body.page-template-homepage #main .section {
    padding: 30px 0px;
    padding: 3rem 0rem;
    padding-bottom: 80px;
    padding-bottom: 8rem; }

  body.page #primary article > .entry-header {
    margin: 24px 0px;
    margin: 2.4rem 0rem; }
    body.page #primary article > .entry-header h1.entry-title {
      font-size: 70px; }

  .single .entry-header h1,
  .single-post .entry-header h1 {
    font-size: 35px; }

  #buddypress div#register-page .register-section {
    width: 46% !important;
    max-width: 46% !important;
    margin: 30px 0 30px 0 !important;
    padding: 0; }
    #buddypress div#register-page .register-section#basic-details-section {
      float: left !important;
      clear: left !important; }
    #buddypress div#register-page .register-section#profile-details-section {
      float: right !important;
      clear: right !important; } }

/*# sourceMappingURL=custom.css.map */
