/*--------------------------------------------------------------
This is the Desktop stylesheet, served to laptops and desktop devices.
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
>>> WORDPRESS
----------------------------------------------------------------
1.1 - All Desktops
    1.1.1 - Basic Structure
    1.1.2 - Sidebars
    1.1.3 - Footer Widgets
    1.1.4 - Header
    1.1.5 - Navigation
    1.1.6 - Blog
    1.1.7 - Single Post
    1.1.8 - Sliding Panels

    1.1.10 - Dropdowns
    1.1.11 - Search Template
1.2 - Custom media queries (desktops and laptops)
    1.2.1 - Basic Structure

    1.2.3 - Widgets
    1.2.4 - Footer
----------------------------------------------------------------
>>> BUDDYPRESS
----------------------------------------------------------------
1.1 - All Desktops
    1.1.1 - Directories - Members, Groups, Blogs, Forums
    1.1.1 - Item Headers
    1.1.2 - Object Item Lists Tabs
    1.1.3 - Subnav Item Lists Tabs
    1.1.4 - Filters
    1.1.5 - Activity Listing
    1.1.6 - Activity Comments
    1.1.7 - Miscellaneous
    1.1.8 - Member Settings
    1.1.9 - Messaging
    1.1.10 - Group Settings: Radio buttons, Checkboxes
    1.1.11 - Group Create
    1.1.12 - Item Lists
1.2 - Custom media queries
    1.2.1 - Item List Tabs
    1.2.2 - Sitewide Notices
    1.2.3 - Profile
----------------------------------------------------------------
>>> PLUGINS
----------------------------------------------------------------
1.1 - Social Articles
1.2 - BuddyBoss Media

*/
/*--------------------------------------------------------------
1.1.1 - Basic Structure
--------------------------------------------------------------*/
/** Variables **/
html, body {
  background-color: #fff;
  height: 100%;
  /* sticky footer */
}

html.js {
  margin-top: 0 !important;
}

/*not logged*/
body:not(.logged-in).no-adminbar #wpadminbar, body.logged-in.no-adminbar #wpadminbar {
  display: none !important;
}

body:not(.logged-in):not(.no-adminbar).is-desktop.admin-bar, body.logged-in.is-desktop.admin-bar:not(.no-adminbar) {
  margin-top: 32px !important;
}

/*logged*/
/*not logged*/
/*logged*/
#inner-wrap {
  /*padding-top: 1px;*/
}

#colophon {
  /*    min-height: 104px; */
  /* '.push' must be the same height as 'footer' */
  min-height: 80px;
}

#colophon.footer-style-2 {
  min-height: inherit;
}

#main-wrap {
  margin: 0 auto;
  min-height: calc(100% - 80px);
  /*margin: 0 auto -104px;  the bottom margin is the negative value of the footer's height */
}

body.page #comments {
  padding: 0 0 50px 0;
}

.site {
  margin: auto;
  padding-top: 70px;
  position: relative;
}

.single-item.groups .site {
  padding-top: 0;
}

.bp-user .site {
  padding-top: 30px;
}

.bp-user.messages .site {
  padding-top: 40px;
}

.site-content.default-page {
  padding-bottom: 50px;
}

.home:not(.groups) .site, .blog:not(.bp-user) .site {
  /*    padding-top: 70px;*/
}

.archive-sidebar-active #secondary {
  /*padding-top: 70px;*/
}

.archive-header .page-title, .archive-header .archive-title {
  line-height: 1;
}

.table {
  width: 100%;
  display: table;
}

.table-cell, #header-aside {
  display: table-cell;
  vertical-align: middle;
}

.author-avatar {
  margin-top: 8px;
}

.author-description {
  float: right;
  width: 80%;
}

.header-inner-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  margin: 0 auto;
  max-width: 780px;
  padding: 0 30px;
  width: 100%;
}

/*--------------------------------------------------------------
1.1.2 - Sidebars
--------------------------------------------------------------*/
#trigger-sidebar {
  display: none;
  width: 22px;
  height: 21px;
  position: absolute;
  z-index: 11;
}

.bb-has-sidebar #trigger-sidebar {
  display: block;
}

.bp-user .site-content {
  margin-top: 0;
}

body.blog #main {
  display: block;
  position: relative;
}

body:not(.bb-sidebar-on) .home-inner-wrap #secondary {
  display: none;
}

.sidebar-left #trigger-sidebar {
  left: -30px;
  top: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.sidebar-right #trigger-sidebar {
  right: 28px;
}

.home-inner-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 1170px;
}

.breadcrumb-wrapper, .header-style-2 .header-wrapper, .footer-inner {
  margin: 0 auto;
  max-width: 1170px;
}

.breadcrumb-wrapper {
  color: #838383;
  font-size: 13px;
  padding: 90px 15px 15px;
  text-align: center;
}

.archive .breadcrumb-wrapper, .page-template-social-authoring .breadcrumb-wrapper, .bp-user .breadcrumb-wrapper, .single-post .breadcrumb-wrapper {
  display: none;
}

.breadcrumb-wrapper a {
  color: #000;
  font-weight: 600;
}

.breadcrumb_last, .breadcrumb-wrapper a {
  margin: 0 8px;
}

body:not(.bp-user):not(.archive):not(.page-template-social-authoring) .breadcrumb-wrapper ~ #page {
  padding-top: 0;
}

.breadcrumb-wrapper > p {
  margin: 0;
}

body.single-item.groups #main {
  max-width: 100%;
}

.sidebar-left #main, .sidebar-left .home-inner-wrap, .sidebar-left .search-content-wrap, .sidebar-left .buddypress-content-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sidebar-left #secondary {
  margin-right: 70px;
}

.sidebar-right #secondary {
  margin-left: 70px;
}

.blog:not(.bp-user) .site-content {
  max-width: 780px;
}

.archive.tag .site-content, .archive.date .site-content, .archive.author .site-content, .archive.category .site-content {
  max-width: 780px;
}

#primary {
  /*height: 100%;*/
  margin-right: 0;
  /*padding: 0 15px;*/
  position: relative;
  width: auto;
  z-index: 10;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  min-width: 1px;
  /* Firefox-34-ignoring-max-width-for-flexbox */
  margin: 0 auto;
}

#buddypress .groups-members-search {
  width: 55%;
}

.single:not(.bp-user):not(.bbpress) #primary {
  max-width: 780px;
}

.search-content-wrap, .buddypress-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* This is added to fix search layout issue after load more */
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.search-content, .buddypress-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 1px;
  /* Firefox-34-ignoring-max-width-for-flexbox */
}

.bb-has-sidebar .search-content, .bb-has-sidebar .buddypress-content {
  max-width: 750px;
}

#secondary {
  padding: 0 15px;
  width: 320px;
}

.buddypress-content-wrap #secondary {
  padding-left: 0;
  padding-right: 0;
}

/* Full Width (no sidebar) */
body.template-front-page .site-content, body.single-attachment .site-content, body.full-width .site-content {
  width: 100%;
}

.page-full-width {
  width: 100%;
}

.page-full-width .site-content {
  width: 100%;
}

#secondary .widget {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding: 70px 0;
  position: relative;
}

#secondary .widget.profile_widget, #secondary .widget:first-child {
  padding-top: 0;
}

.bp-user #secondary #item-header {
  /* padding-top: 25px; */
}

#secondary .widget:last-child {
  border-bottom: 0;
}

.archive.author #secondary, .default-page + #secondary, .page.page-template #secondary {
  padding-top: 15px;
}

.search-content-inner .hentry:first-child {
  padding-top: 0;
}

/*--------------------------------------------------------------
1.1.3 - Footer Widgets
--------------------------------------------------------------*/
.footer-widget {
  float: left;
  margin-right: 0;
  padding: 0 15px;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0%;
  flex: 1 1 0;
  min-width: 1px;
  /* Firefox-34-ignoring-max-width-for-flexbox */
}

/*--------------------------------------------------------------
1.1.4 - Header
--------------------------------------------------------------*/
#mobile-right-panel {
  display: none;
}

.header-notifications {
  display: inline-block;
  position: relative;
}

.header-notifications .pop {
  background-color: #fff;
  border-top: 2px solid;
  font-size: 13px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 69px;
  transition: all 0.2s ease-in-out 0s;
  text-align: left;
  visibility: hidden;
  min-width: 264px;
  padding: 10px 10px;
  width: 100%;
  z-index: 21;
  white-space: initial;
}

.header-notifications .pop a {
  display: block;
  text-align: left;
  line-height: 1.2;
  color: #333;
}

.header-notifications .pop a:hover {
  color: #54ae68;
}

#all-notificatios .pop a {
  margin: 8px 0;
}

#all-notificatios .pop a::first-letter {
  text-transform: capitalize;
}

.header-notifications:hover .pop {
  opacity: 1;
  visibility: visible;
}

#all-notificatios .pop span.notification-icon:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  content: "\f06a";
  -webkit-font-smoothing: antialiased;
  speak: none;
  vertical-align: top;
  float: left;
  font-size: 16px;
  margin-right: 10px;
}

#all-notificatios .pop span.notification-icon.friendship_accepted:before, #all-notificatios .pop span.notification-icon.friendship_request:before {
  content: "\f0c0";
}

#all-notificatios .pop span.notification-icon.bbp_new_reply:before {
  content: "\f211";
}

#all-notificatios .pop span.notification-icon.new_follow:before {
  content: "\f234";
}

#all-notificatios .pop span.notification-icon.comment_reply:before, #all-notificatios .pop span.notification-icon.update_reply:before {
  content: "\f086";
}

#all-notificatios .pop span.notification-icon.new_at_mention:before {
  content: "\f1fa";
}

#all-notificatios .pop span.notification-icon.new_message:before {
  content: "\f27a";
}

#all-notificatios .pop span.notification-icon.group_invite:before {
  content: "\f2b6";
}

#all-notificatios .pop span.notification-icon.membership_request_accepted:before, #all-notificatios .pop span.notification-icon.new_membership_request:before {
  content: "\f2c2";
}

#all-notificatios .pop span.notification-icon.member_promoted_to_mod:before, #all-notificatios .pop span.notification-icon.member_promoted_to_admin:before {
  content: "\f21b";
}

#all-notificatios .pop span.notification-icon.buddyboss_wall_like_notifier:before {
  content: "\f004";
}

#all-notificatios .pop span.notification-icon.buddyboss_media_tagged:before {
  content: "\f02c";
}

#all-notificatios .bb-adminbar-notifications > li {
  padding: 1px 0;
  clear: both;
}

.header-notifications #ab-pending-notifications {
  font-size: 0;
}

.header-notifications a.notification-link span, .header-notifications a.cart-button {
  font-size: 0;
}

.header-notifications a#user-messages {
  font-size: 0;
}

.header-notifications a#user-messages span:before {
  content: "Z";
  top: 10px;
}

.header-notifications a#user-messages span.no-alert:before {
  content: "u";
}

.header-notifications a span.pending-count:before {
  content: 'J';
}

.header-notifications a#user-messages span.count:before, .header-notifications a span.pending-count:before {
  color: #54ae68;
}

.header-notifications > a span:before {
  content: "I";
  font-family: "onesocial";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
  position: relative;
  top: 2px;
}

#masthead .header-notifications a#user-messages:hover span.count:before,
#masthead .header-notifications a:hover span.pending-count:before {
  color: #fff;
}

.header-notifications .pop ul {
  list-style: none;
  margin: 0;
  /*padding: 5px 20px;*/
}

.bb-user-notifications > li {
  padding: 5px 0;
}

.header-notifications .bb-user-notifications a {
  display: inline-block;
  text-transform: capitalize;
}

.bb-user-notifications .avatar {
  border-radius: 100%;
  margin-right: 10px;
  margin-top: -3px;
}

.header-notifications .bb-user-notifications .bb-message-link {
  text-transform: lowercase;
}

.site-header {
  background-color: #f9f9f9;
  position: relative;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.site-header:after {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: ' ';
  height: 1px;
  position: absolute;
  width: 100%;
}

.site-header #wp-admin-bar-root-default,
.site-header #wp-admin-bar-search,
.site-header #wp-admin-bar-my-account > a,
.site-header #wp-admin-bar-bp-notifications {
  display: none;
}

.header-wrapper {
  padding: 0 15px;
  position: relative;
  display: table;
  /* Removed `!important` due to some issues with dropdown */
  width: 100%;
}

.site-header .site-name {
  margin: 0;
}

.site-header .site-title {
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}

.site-title a {
  color: inherit;
}

.site-title img {
  max-height: 70px;
  width: auto;
}

.site-header p.site-description {
  clear: left;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  color: #666;
  margin: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 0;
}

.site-header .header-account {
  float: right;
  margin-top: 32px;
}

.site-header .header-account a {
  display: inline;
}

.site-header .header-account .button {
  padding: 6px 12px;
  margin-left: 8px;
}

.site-header #logo img {
  max-height: 70px;
  vertical-align: bottom;
  width: auto;
}

#logo-area {
  padding-right: 20px;
  width: 180px;
}

#site-navigation {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
}

#site-navigation .bb-menu-button i:before {
  content: "\f141";
}

#item-nav .bb-menu-button i:before {
  content: "\f078";
}

header-aside,
#logo-area {
  display: table-cell;
  vertical-align: middle;
}

#header-search {
  display: inline-block;
  position: relative;
}

#header-search:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#header-search form {
  height: 100%;
  position: absolute;
  right: 0;
  display: none;
  z-index: 32;
  /* Should be greater than 31 */
  background-color: #fff;
  /* border-left: 1px solid rgba(0,0,0,0.1); */
}

#header-search form > div {
  height: 100%;
  position: relative;
}

/* GeoDirectory - Directory Plugin */
.gd-google-maps #header-search form {
  z-index: 2000;
}

#header-search form input[type="text"] {
  height: 100%;
  width: 100%;
  padding: 20px 80px 20px 30px;
  font-size: 18px;
  font-weight: 300;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#header-search form .search-wrap:before {
  /*  content: '';
      height: 1px;
      width: 100%;
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      bottom: -1px;*/
}

#header-search form #searchsubmit {
  position: absolute;
  right: 0px;
  top: -1px;
  /* margin-top: -10px; */
  height: 100%;
  width: 64px;
  border-radius: 0;
  background-color: transparent;
  color: #333;
  z-index: 1;
  line-height: 70px;
  padding: 0;
  vertical-align: baseline;
  font-size: 18px;
}

.search-wrap input::-webkit-input-placeholder, .search-wrap input::-moz-placeholder, .search-wrap input:-ms-input-placeholder, .search-wrap input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* firefox 19+ */
/* ie */
#header-search form #searchsubmit i {
  position: relative;
  top: 3px;
}

#header-search form #searchsubmit:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#header-search #search-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  width: 12px;
  background-color: #b94545;
  padding: 0;
  line-height: 13px;
  color: #fff;
  font-size: 6px;
  z-index: 2;
  border-radius: 0;
  font-family: inherit;
  margin: 10px;
  outline: none;
  text-align: center;
}

#header-aside {
  width: 200px;
  white-space: nowrap;
}

#header-aside-inner {
  float: right;
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#header-aside-inner > div:first-child {
  /*box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);*/
}

.header-button {
  height: 70px;
  line-height: 70px;
  width: 66px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  vertical-align: bottom;
  z-index: 31;
}

.header-button i {
  position: relative;
  top: 2px;
}

.header-button.underlined {
  /*border-bottom: 1px solid;*/
  /*font-size: 20px;*/
  box-shadow: 0 -1px 0 #54ae68 inset;
}

.header-button.underlined .bb-icon-code {
  font-size: 26px;
}

.header-button:hover {
  color: #fff;
  background-color: #54ae68;
}

.header-button #search-open {
  font-size: 18px;
}

.header-button.login {
  width: 76px;
}

.header-notifications a.header-button span > b {
  background: #54ae68;
  border-radius: 100%;
  color: #fff !important;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* User Avatar and Links */
.header-account-login {
  box-shadow: none;
  text-align: right;
}

.tablet .header-account-login > a {
  position: relative;
  z-index: -1;
}

.header-account-login .count {
  background: #54ae68;
  border-radius: 100%;
  color: #fff !important;
  display: inline-block;
  font-size: 12px;
  margin: 0 0 0 6px;
  padding: 2px 5px;
  position: absolute;
}

#masthead .header-account-login:hover {
  background: transparent;
}

.header-account-login .pop {
  background-color: #fff;
  border-top: 2px solid;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 69px;
  transition: all 0.2s ease-in-out 0s;
  text-align: left;
  visibility: hidden;
  min-width: 160px;
  padding: 10px 0;
  width: 100%;
  z-index: 21;
}

.header-style-2 .header-account-login .pop {
  right: -3px;
}

.tablet .header-account-login .pop.hover, body:not(.tablet) .header-account-login:hover .pop {
  opacity: 1;
  visibility: visible;
}

.header-account-login ul {
  list-style: none;
  margin: 0;
}

.header-account-login li {
  position: relative;
}

.header-account-login .pop a, .header-account-login .pop .ab-item {
  color: #333;
  display: block;
  font-size: 13px;
  line-height: 1;
  padding: 8px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-account-login .pop a span b {
  font-weight: normal;
}

.header-account-login a.boss-logout {
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 12px;
  padding-top: 20px;
  position: relative;
}

.boss-logout:before {
  background: rgba(0, 0, 0, 0.1);
  content: ' ';
  height: 1px;
  position: absolute;
  top: 0;
  width: calc(100% - 40px);
}

.header-account-login .dashboard-links {
  margin: 0 0 12px;
  padding: 0 0 12px;
  position: relative;
}

.header-account-login .dashboard-links:before {
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: ' ';
  display: block;
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: calc(100% - 40px);
}

.adminbar-links.bp-inactive {
  display: none;
}

.adminbar-links.bp-inactive + .boss-logout {
  margin-top: 0;
  padding-top: 10px;
}

.adminbar-links.bp-inactive + .boss-logout:before {
  display: none;
}

#wp-admin-bar-user-actions {
  display: none;
}

.header-account-login .avatar {
  border-radius: 100%;
  max-width: 46px;
  position: relative;
  top: -2px;
}

.header-style-2 .header-account-login .avatar {
  margin-right: -2px;
}

.header-account-login .pop .bp_components .menupop:not(#wp-admin-bar-my-account) > .ab-sub-wrapper, .header-account-login .pop .links li > .sub-menu {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.2);
  display: none;
  left: -187px;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 187px;
}

.header-account-login .pop .bp_components .menupop:hover:not(#wp-admin-bar-my-account) > .ab-sub-wrapper, .header-account-login .pop .links li:hover > .sub-menu {
  display: block;
}

.header-account-login .pop .bp_components .menupop:not(#wp-admin-bar-my-account) > .ab-sub-wrapper:before, .header-account-login .pop .links li > .sub-menu:before {
  background-color: #fff;
  box-shadow: 2px -2px 2px -1px rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  height: 12px;
  position: absolute;
  right: -5px;
  top: 11px;
  transform: rotate(45deg);
  width: 12px;
  z-index: 1;
}

/*--------------------------------------------------------------
1.1.5 - Navigation
--------------------------------------------------------------*/
.nav-inner {
  /*padding-top: 29px;*/
}

.bp-user .main-navigation {
  /* width: 50%; */
}

.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {
  text-align: left;
  width: 100%;
}

.main-navigation ul {
  margin: 0;
  text-indent: 0;
}

.onsocial-primary-menu {
  height: 70px;
  overflow: hidden;
  /* It is necessary for nice load */
}

.boss-page-loaded .onsocial-primary-menu {
  overflow: visible;
}

.main-navigation .nav-inner div > ul.open {
  overflow: visible;
}

.main-navigation li {
  display: inline-block;
  text-decoration: none;
}

.main-navigation li a {
  display: inline-block;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 13px;
}

.main-navigation .nav-menu > li > a {
  display: block;
  line-height: 13px;
  margin: 0 15px;
  padding: 32px 0 25px;
}

.main-navigation .nav-menu > li:hover > a {
  box-shadow: 0 -2px 0 #54ae68 inset;
}

.main-navigation li {
  margin: 0;
  float: left;
  font-size: 14px;
  line-height: 1;
  position: relative;
}

.main-navigation li.current_menu_item, .main-navigation li.current_page_item, .main-navigation li a:hover {
  color: #333;
}

.main-navigation li ul {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
  background-color: #fff;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #cdcdcd;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.main-navigation li ul.sub-menu:before {
  content: '';
  position: absolute;
  width: 100%;
  top: -2px;
  height: 2px;
  display: block;
}

.main-navigation li ul ul {
  top: -1px;
  left: 100%;
  border-width: 1px;
  background-color: #fff;
}

.main-navigation ul li:hover > ul {
  border-left: 0;
  display: block;
}

.main-navigation li ul li a {
  border: none;
  display: block;
  line-height: 1.4;
  padding: 8px 10px 8px 15px;
  width: 180px;
  white-space: normal;
  color: #777;
}

.main-navigation li ul li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #444;
}

.main-navigation li ul li.menu-item-has-children > a:after {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  content: "\f105";
  -webkit-font-smoothing: antialiased;
  speak: none;
  vertical-align: top;
  float: right;
  font-size: 16px;
  line-height: 1;
}

.main-navigation div > ul > .current-menu-item > a, .main-navigation div > ul > .current-menu-ancestor > a {
  color: #333;
  box-shadow: 0 -2px 0 #54ae68 inset;
  /* darken */
}

.main-navigation div > ul ul > .current-menu-item > a {
  /* darken */
  background-color: rgba(0, 0, 0, 0.05);
}

.main-navigation li.hideshow ul {
  border: 0;
  padding: 5px 0;
}

#site-navigation .hideshow li {
  margin: 0;
}

#site-navigation .hideshow li a {
  margin: 0;
  padding: 8px 15px;
}

#respond form input[type="text"] {
  width: 46.333333333%;
}

#respond form textarea.blog-textarea {
  width: 79.666666667%;
}

.template-front-page .site-content, .template-front-page article {
  overflow: hidden;
}

.template-front-page.has-post-thumbnail article {
  float: left;
  width: 47.916666667%;
}

.entry-page-image {
  float: right;
  margin-bottom: 0;
  width: 47.916666667%;
}

.template-front-page .widget-area .widget, .template-front-page.two-sidebars .widget-area .front-widgets {
  float: left;
  width: 51.875%;
  margin-bottom: 24px;
}

.template-front-page .widget-area .widget:nth-child(odd) {
  clear: right;
}

.template-front-page .widget-area .widget:nth-child(even) {
  float: right;
  width: 39.0625%;
  margin: 0 0 24px;
}

.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
  float: right;
  width: 39.0625%;
  margin: 0 0 24px;
}

.template-front-page.two-sidebars .widget {
  float: none;
  width: auto;
}

.template-front-page.two-sidebars .widget:nth-child(even) {
  float: none;
  width: auto;
}

.commentlist .children {
  margin-left: 60px;
  margin-bottom: 0;
}

div.footer-inner.widget-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

/*--------------------------------------------------------------
1.0.5 - (...) Menu
--------------------------------------------------------------*/
#buddypress div#item-nav #object-nav.item-list-tabs {
  overflow: hidden;
  height: 67px;
  white-space: nowrap;
  text-align: left;
}

.single-item.groups #buddypress div#item-nav #object-nav.item-list-tabs {
  text-align: left;
}

.boss-page-loaded #buddypress div#item-nav #object-nav.item-list-tabs {
  overflow: visible;
}

body #buddypress div#item-nav #object-nav.item-list-tabs > ul > li {
  float: left;
}

#page#page #content #buddypress div.item-list-tabs li.hideshow {
  float: right;
  padding-bottom: 30px;
  position: relative;
}

#buddypress div#item-nav .item-list-tabs ul li .bb-menu-button {
  color: #fff;
  font-size: 8px;
  height: 25px;
  line-height: 23px;
  margin: 7px 0 0;
  padding: 0;
  text-align: center;
  width: 25px;
}

#buddypress div#item-nav .item-list-tabs ul li:hover .bb-menu-button {
  color: #fff !important;
}

#main #buddypress div.item-list-tabs li.hideshow > ul {
  background-color: #fff;
  border-radius: 0;
  border-top: 2px solid;
  box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.2);
  display: none;
  height: auto;
  margin-top: 2px;
  min-width: 140px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
}

#main-wrap #page #main #buddypress div.item-list-tabs li.hideshow:hover a {
  color: inherit;
}

#main-wrap #buddypress div.item-list-tabs li.hideshow > ul li {
  width: 100%;
  text-align: left;
  position: relative;
  margin: 0;
}

#main-wrap #buddypress div.item-list-tabs li.hideshow > ul li a {
  padding: 6px 0;
}

#main-wrap #buddypress div.item-list-tabs li.hideshow > ul li a:before {
  display: none !important;
}

li.hideshow > ul li:not(:last-child) {
  margin-bottom: 10px;
}

li.hideshow > ul li a {
  padding: 0px;
}

#buddypress div#item-nav .item-list-tabs ul li.hideshow a span {
  display: inline-block;
  float: none;
  margin-top: -3px;
}

/*--------------------------------------------------------------
1.1.6 - Blog
--------------------------------------------------------------*/
.blog .post-author, .search_results .post-author {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  width: 165px;
  float: left;
  position: relative;
  z-index: 1;
  padding-right: 20px;
  padding-bottom: 10px;
}

.blog .post-author .author img, #main #buddypress .search_results .post-author .author img {
  width: 50px;
  height: 50px;
  margin-right: 23px;
  vertical-align: bottom;
  margin-bottom: 20px;
}

.search_results .post-author .name, .search_results .post-author .entry-date {
  display: block;
  font-family: inherit;
}

.blog .post-author .author {
  display: inline-block;
  width: 84px;
  position: relative;
}

.post-author .entry-date time {
  padding-bottom: 25px;
  width: 50px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post-author .load-more-posts {
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  left: 73px;
  line-height: 1;
  max-height: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 50px;
}

.post-author .load-more-posts:hover {
  max-height: 300px;
  overflow: visible;
}

.post-author .load-more-posts i {
  display: block;
  width: 14px;
  cursor: pointer;
}

.post-author .load-more-posts a {
  text-transform: uppercase;
  font-size: 10px;
  color: #333;
  clear: both;
  display: inline-block;
  width: auto;
  background-color: #fff;
  padding: 4px 6px 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  min-width: 90px;
  transition: visibility 0s, opacity 0.5s linear;
}

.post-author .load-more-posts a[data-sort="recommended"] {
  min-width: 165px;
}

.post-author .load-more-posts:hover a {
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
}

.post-author .load-more-posts a.show-latest {
  position: relative;
  top: -1px;
}

.post-author .load-more-posts a:hover {
  color: #54ae68;
}

.post-author .load-more-posts:hover {
  color: #54ae68;
}

.blog .content-wrap, .search_results .content-wrap {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  float: left;
  position: relative;
}

.article-outher {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article-outher:nth-last-child(2) .to-top, .article-outher:nth-last-child(2):after {
  display: none;
}

.blog:not(.bp-user) .hentry {
  padding-bottom: 70px;
  min-height: 215px;
}

.search_results:not(.bp-user) .type-product, .search_results:not(.bp-user) .hentry {
  padding-bottom: 70px;
  min-height: 215px;
}

a.to-top {
  position: absolute;
  right: 20px;
  bottom: -15px;
  line-height: 30px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #333;
  font-size: 11px;
}

article:hover a.to-top {
  opacity: 1;
}

.author-details {
  position: relative;
}

.group-join, .author-follow {
  /* background: $white; */
  z-index: 2;
  position: relative;
}

.author-details .author-top {
  /* background: $white; */
  z-index: 2;
  position: relative;
}

.author-details .author-middle {
  opacity: 0;
  -webkit-transition: max-height 1s, opacity .7s;
  -o-transition: max-height 1s, opacity .7s;
  transition: max-height 1s, opacity .7s;
  padding: 21px 0 0;
  max-height: 0;
  overflow: hidden;
}

.author-details:hover .author-middle {
  opacity: 1;
  max-height: 400px;
}

.author-details .author-stats li:not(last-child) {
  margin-bottom: 10px;
}

.author-details .author-middle .author-bio:after {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: ' ';
  height: 1px;
  left: 0;
  position: absolute;
  width: 50px;
}

.posts-stream {
  background-color: #fff;
  position: relative;
  /*z-index: 1;*/
  z-index: 0;
  width: 100%;
  min-height: 200px;
  top: -1px;
  display: none;
}

.search-content {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
}

.search-content .hentry {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 70px 0;
  position: relative;
}

/*--------------------------------------------------------------
1.1.7 - Single Post
--------------------------------------------------------------*/
body.single-post #page {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.single-attachment .entry-header {
  margin: 70px auto 30px;
  max-width: 780px;
  padding: 0 15px;
}

.single-post .entry-header:not(.has-image) {
  margin: 70px auto 30px;
  max-width: 780px;
  padding: 0 15px;
}

.single-post #comments .inner {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /*margin-top: 30px;*/
}

/*--------------------------------------------------------------
1.1.7.1 - Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1.8 - Sliding Panels
--------------------------------------------------------------*/
#mobile-header, li#bb-custom-notification-area {
  display: none;
}

/*--------------------------------------------------------------
1.1.10 - Dropdowns
--------------------------------------------------------------*/
body .buddyboss-select {
  display: inline-block;
  float: none;
  margin-top: 6px;
  vertical-align: bottom;
  white-space: nowrap;
}

.buddyboss-select-inner {
  position: relative;
  padding-right: 40px;
  height: 30px;
  line-height: 30px;
}

.buddyboss-select-inner:after {
  content: "P";
  border: 1px solid #e1e1e1;
  position: absolute;
  right: 0;
  padding: 0px 11px;
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 6px;
  font-family: "onesocial" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buddyboss-select-inner select {
  cursor: pointer;
  height: 30px;
  width: 100%;
  opacity: 0;
  border: none;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.buddyboss-select-inner span {
  color: #54ae68;
  font-size: 10px;
  text-transform: uppercase;
}

.directory.activity #activity-filter-select .buddyboss-select label {
  display: none;
}

/*--------------------------------------------------------------
1.1.11 - Search Template
--------------------------------------------------------------*/
body.search h1.entry-title {
  margin: 20px 0 50px;
  font-size: 70px;
}

/*--------------------------------------------------------------
Media queries
--------------------------------------------------------------*/
@media screen and (min-width: 1025px) {
  body.page-template-homepage #main .section {
    padding: 30px 0px;
    padding: 3rem 0rem;
  }
  body.page #primary article > .entry-header {
    margin: 24px 0px;
    margin: 2.4rem 0rem;
  }
  body.page #primary article > .entry-header h1.entry-title {
    font-size: 70px;
  }
  body.archive.post-type-archive-ccluk_news .post-author .entry-date {
    font-size: 20px;
    text-align: right;
  }
  body.archive.post-type-archive-ccluk_news .post-author .entry-date time {
    width: 100px;
    margin-left: -50px;
  }
  .single .entry-header h1,
  .single-post .entry-header h1 {
    font-size: 36px;
  }
  #buddypress div#register-page .register-section {
    width: 46%;
    max-width: 46%;
    margin: 30px 0 30px 0;
    padding: 0;
  }
  #buddypress div#register-page .register-section#basic-details-section {
    float: right;
    clear: right;
  }
  #buddypress div#register-page .register-section#profile-details-section {
    float: left;
    clear: left;
  }
  #buddypress #groups-list .boss-group-content {
    min-height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  /*--------------------------------------------------------------
MINIMUM width of 1200 pixels (large desktops)
--------------------------------------------------------------*/
  #site-navigation {
    width: 600px;
  }
  body.page-template-homepage #main .section.feature .section-content {
    max-width: 1170px;
  }
  body.page-template-homepage #main .section.feature .section-content article .list-item.entry-image {
    width: 580px;
    text-align: right;
  }
  body.page-template-homepage #main .section.feature .section-content article .list-item.entry-content {
    width: 540px;
  }
  body.page-template-homepage #main .section.feature .section-content article .list-item.entry-content .entry-title {
    font-size: 48px;
  }
  body.page-template-homepage #main .section.banner .section-title-container > .section-title {
    max-width: 900px;
  }
  body.page-template-homepage #main .section.banner .section-title-container > .section-title h2 {
    font-size: 48px;
  }
}
