/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 480 pixels (phones and smaller)
	2.2 - MINIMUM width of 481 pixels (phones and larger)
	2.3 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/

#logo-area {
    width: 380px;
}

.site-header .site-title {
    width: 360px;
}

.page-template-homepage .site {
	padding-top: 70px;
	padding-bottom: 70px;
}

.page-template-homepage .slide_content > .slide_content_wrap > .inner > .slide_text {
	display: table;
	margin: 0 auto;
	padding: 15px;
	color: #fff;
	background-color: rgba(0, 152, 218, 0.85);
}

.page-template-homepage .bb-slider-container .readmore a, 
.page-template-homepage .slide-content .button {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 14px 30px 13px;
    color: #fff;
    border: 2px solid;
    background-color: #4EAE47;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    font-weight: 500;
}

.page-template-homepage #secondary {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
}

.page-template-homepage #secondary.widget-area .widget h3.widgettitle {
	text-align: center;
}

.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li {
	width: 30%;
	float: left;
	clear: right;
	margin-right: 3%;
}

.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li > a > img {
	clear: both;
}

.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li .rpwwt-post-title{
	display: block;
}

input[type="submit"] {
	border: none;
	border-radius: 5px;
	padding: 12px 24px;
}

.woocommerce ul.products li.product .price, 
.woocommerce div.product p.price, 
.woocommerce div.product span.price, 
.woocommerce [type='checkbox']:checked + span, 
.header-account-login .pop .boss-logout, 
.header-account-login .pop a:hover, 
.bboss_ajax_search_item .item .item-title, 
body .bb-global-search-ac li.bbls-category:hover a:after, 
.bb-global-search-ac.ui-menu .bbls-view_all_type-type a:hover:after, 
.bbp-topics-front ul.super-sticky div.bbp-topic-title-content:before, 
.bbp-topics ul.super-sticky div.bbp-topic-title-content:before, 
.bbp-topics ul.sticky div.bbp-topic-title-content:before, 
.bbp-forum-content ul.sticky:before, 
.bbp-forum-data .last-activity a:hover, 
#onesocial-recommended-by .title, 
.bbp-forum-data .post-num, 
div.bbp-breadcrumb a:hover, 
li.bbp-forum-info a.bbp-forum-title:before, 
li.bbp-topic-title a.bbp-topic-permalink:before, 
#buddypress div#subnav.item-list-tabs ul li.feed a:hover, 
#buddypress div#subnav.item-list-tabs ul li.feed a:before, 
#buddypress div.messages-options-nav .buddyboss-select-inner:after, 
#buddypress table#message-threads input[type="checkbox"]:checked + strong:after, 
#buddypress table#message-threads tr td.thread-info p a:hover, 
.info-group .members-list-filter li a:hover, 
.info-group .members-list-filter li a.selected, 
.info-group .bb-follow-title span, 
#buddypress .btn-group.social a:hover, 
#buddypress .standard-form div.submit a.prev:hover, 
#buddypress #group-settings-form input[type="submit"], 
#buddypress .standard-form div.submit input, .dir-header span, 
#buddypress .dir-list ul.item-list .item-title a:hover, 
#create-group-form #invite-list strong, 
#create-group-form.standard-form label span.highlight, 
#buddypress form#whats-new-form #whats-new-submit input[type="submit"], 
#whats-new-form .whats-author, 
#buddypress #activity-stream .acomment-options .acomment-like.unfav-comment:before, 
#buddypress #activity-stream .activity-meta .unfav.bp-secondary-action:before, 
primary #buddypress #activity-stream div.activity-meta a:hover:before, 
#buddypress div.activity-comments div.acomment-meta a:not(.activity-time-since):hover, 
#buddypress .activity-header a:hover, 
#posts-carousel footer a, #posts-carousel h3 a:hover, 
.comments-area article header cite a, 
.post-author-info .entry-meta a:not(.entry-date), 
.post-author-info .author-name a:hover, 
.posts-stream ul li h2 a:hover, 
.entry-meta a.read-more, .bb-comment-author, 
.author-follow div.generic-button.pending_friend + span, 
.author-follow div.generic-button.following + span, 
.post-author .load-more-posts.active .bb-icon-bars-f:before,
.entry-content blockquote .author, 
.comment-content blockquote .author, 
.entry-header .entry-title a:hover, 
.widget_search #searchform button i:before, 
.widget #bbp-search-index-form button i:before, 
.entry-meta a.read-more, 
.settings #buddypress div#subnav.item-list-tabs ul li.current a, 
.bb-user-notifications .avatar + a, 
#main #buddypress .bb-member-quick-link-wrapper .action .generic-button a:hover, 
#main-wrap #page #main #buddypress div.item-list-tabs li.hideshow ul a:hover, 
a.comment-reply-link:hover, 
a.comment-edit-link:hover, 
.bb-user-name, 
.dir-header .bb-count, 
.boss-author-name, 
.posts-stream ul li h3 a:hover, 
#main #buddypress .button.bp-secondary-action.loading:after, 
#main #buddypress .acomment-like.bp-secondary-action.loading:after, 
#main #buddypress .activity-comments .acomment-options a:hover, 
#main #buddypress .activity-comments .acomment-options a:hover:after, 
#main #buddypress .activity-comments .acomment-options a:hover:before, 
#buddypress .bboss_search_page a.loading:after, 
.header-account-login .pop .count, 
.is-mobile #main-wrap #page #buddypress div.item-list-tabs:not(#object-nav) ul li.current a, 
.is-mobile #main-wrap #page #buddypress div.item-list-tabs:not(#object-nav) ul li.selected a, 
li.bbp-forum-info a.bbp-forum-title:hover, 
li.bbp-topic-title a.bbp-topic-permalink:hover, 
.footer-inner-top a:hover, .boss-group-invite-friend-list strong, 
.sap-container-wrapper .sap-story-publish, 
.sap-container-wrapper .sap-story-publish:hover, 
.recommend-title, 
.liked .fa-heart, 
.bookmarked .bb-helper-icon.fa-bookmark, 
.fa.bb-helper-icon.fa-spinner.fa-spin, 
.os-loader i, 
.breadcrumb-wrapper a:hover, 
.sap-container-wrapper .sap-author-name.sap-author-name, 
.sap-publish-popup.sap-publish-popup .sap-action-button, 
#send-private-message.generic-button a:before, 
input[type="submit"] {
	color: #fff !important;
	background-color: #54ae68;
}

#save_as_draft:hover, 
#buddypress #group-settings-form input[type="submit"]:hover, 
#buddypress .standard-form div.submit input[type="submit"]:hover,
.vc_btn3.vc_btn3-color-juicy-pink:hover, 
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover {
	color: #000;
	background-color: #54ae68;
}

fieldset,
div#register-page .register-section, 
div#register-page .security-question-section {
	border: none;
}

.main-navigation li.current_menu_item, 
.main-navigation li.current_page_item, 
.main-navigation li:hover {
	background-color: #fff;
}

.main-navigation li a {
	color: rgba(0, 0, 0, 0.8);
}

.vc_btn3.vc_btn3-color-juicy-pink, 
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
	border-radius: 5px;
}

.popup-content {
	background: rgba( 255, 255, 255, 0.6 );
}

.popup-content input:not([type="checkbox"]):not([type="radio"]):not([type="button"]), 
.popup-content .input:not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
	padding: 10px 20px 15px;
	background: #fff;
	font-size: 18px;
}

/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/




/*--------------------------------------------------------------
2.1 - MAXIMUM width of 480 pixels (phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {


	/*
	.just_an_example {
		color: black;
	}
	*/
	/*--------------------------------------------------------------
	1.1.3 - Mobile Header
	--------------------------------------------------------------*/

	#mobile-header {
	    background-color: #fbfbfb;
	}

	#mobile-header h1 {
	    color: #000;
	}

	#mobile-header h1 a {
	    color: #000;
	}

	#mobile-header .left-btn:before,
	#mobile-header .right-btn:before {
		color: #333;
	}

	.bb-slider-container .title {
		font-size: 20px !important;
	}

}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.1 - MINIMUM width of 481 pixels (phones and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 481px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */
