body.open-left .left-btn {
  /* Click anywhere in header to close it */
  width: 100%;
}

body {
  &.open-left .left-btn:before {
    opacity: 0.5;
  }
  div#wpadminbar {
    background-color: $green;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 240px;
    z-index: 1;
  }
}

/*--------------------------------------------------------------
1.1.3.2 - Admin Bar Layout
--------------------------------------------------------------*/

div#wpadminbar {
  ul {
    background-color: $blue;
    list-style: none;
    margin: 0;
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }
  li {
    display: block;
    float: left;
    clear: left;
    width: 240px;
    a {
      padding: 8px 25px;
      line-height: 1.6;
      font-size: $font-size-sm;
      text-decoration: none;
      display: block;
      color: $white;
      &:active,
      &:hover {
        color: $white;
      }
    }
    &:active,
    &:hover {
      background-color: $green;
    }
  }
}

/*--------------------------------------------------------------
1.1.3.3 - Left Navigation Animation
--------------------------------------------------------------*/

/* Display When Opened */

body {
  &.open-left {
    div#wpadminbar {
      transition: transform 0.35s ease 0s;
      visibility: visible;
    }
    #main-wrap, #colophon {
      transform: translate(240px, 0);
    }
  }
  &.open-right {
    #main-wrap, 
    #colophon {
      transform: translate(-240px, 0);
    }
  }
  &.logged-in #wpadminbar div.quicklinks ul#wp-admin-bar-root-default {
    display: none;
  }
}

/*--------------------------------------------------------------
1.1.3.5 - Left Admin Bar Content
--------------------------------------------------------------*/

#wpadminbar {
  a.screen-reader-shortcut {
    display: none;
  }

  li#wp-admin-bar-mycred-account {
    margin: 10px 0;
  }
}

#wp-admin-bar-top-secondary {
  /* Hide unused content */
  li {
    &#wp-admin-bar-my-account.with-avatar > a.ab-item:first-of-type, &#wp-admin-bar-bp-notifications, &#wp-admin-bar-search {
      display: none;
    }
  }

  /* Account Info */
  ul#wp-admin-bar-user-actions li#wp-admin-bar-user-info {
    position: relative;
    a {
      min-height: 72px;
      /* must match height of avatar + padding */
      float: left;
      padding-top: 20px;
      &:focus {
        outline: none;
      }
    }
    img {
      width: 45px;
      height: 45px;
      position: absolute;
      top: 19px;
      left: 24px;
      @include border-radius(30px);
    }
    a span {
      display: block;
      position: relative;
      float: left;
      margin-left: 60px;
      width: 130px;
      line-height: 1.1;
      &.display-name {
        font-size: 17px;
        font-weight: 600;
      }
      &.username {
        font-weight: 400;
        margin-top: 8px;
      }
    }
  }
}

#wp-admin-bar-mycred-account {
  > .ab-item.ab-empty-item {
    background: $green;
    margin-bottom: 5px;
  }
  .ab-item.ab-empty-item {
    color: $white;
    padding: 6px 25px;
  }
}

/* Separators */

#wpadminbar div.quicklinks ul li.menupop div.ab-sub-wrapper ul > li {
  &.menupop > {
    a {
      &.ab-item {
        background-color: $green;
        color: $white;
        cursor: default;
        font-size: $font-size-sm;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      span.count {
        display: none;
      }
    }
    div.ab-sub-wrapper li a span.count {
      background-color: $green;
      color: $white;
      font-size: $font-size-tiny;
      line-height: 1;
      padding: 1px 6px;
      margin-left: 1px;
      @include border-radius(999px);
    }
  }

  &#wp-admin-bar-my-account-notifications > div.ab-sub-wrapper li a span.count {
    background-color: $red;
  }
}

/* Indicators */

.left-btn #ab-pending-notifications {
  color: $white;
  font-size: $font-size-tiny;
  line-height: 1;
  padding: 1px 6px;
  margin-left: 1px;
  @include border-radius(999px);
  background-color: $red;
  position: absolute;
  top: 9px;
  right: 7px;
  line-height: 1.4;
  &.no-alert {
    display: none;
  }
}

/* Bottom padding */

#wp-admin-bar-top-secondary li#wp-admin-bar-my-account {
  padding-bottom: 30px;
}
