#findYourMP form {
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
}

#findYourMP form label{
	width: 30%;
	padding-right: 30px;
}

#findYourMP form input[type=text] {
	width: 35%;
	max-width: 400px;
}