.site {
    padding-top: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
.popup-content .input:not([type=checkbox]):not([type=radio]):not([type=button]),
.popup-content input:not([type=checkbox]):not([type=radio]):not([type=button]) {
    background-color: $white;
    border-width: 1px 1px 1px 1px;
    border-color: $green;
    border-style: solid solid solid solid;
    @include input-field();
}

#pass-strength-result {
    margin-top: -25px;
    float: right;

    &.bad, &.short {
        color: #f25d65;
    }
    &.good {
        color: #f8d750;
    }
    &.strong {
        color: #2ac987;
    }
}

h1, h2, h3, h4, h5, h6, ul, ol, dd, table, p, address, pre, hr, figure, video {
    margin-bottom: 16px;
}

h3, h4 {
    line-height: 1.4;
}

a,
#posts-carousel h3 a {
    color: $blue;

    &:hover {
        color: $green;
    }
}

.bluebox {
    width: 100%;
    color: $white;
    background-color: $blue_bg;
    @include padding(2, 5);
    @include margin(2, 0);
}

#save_as_draft:hover {
    color: $black;
    background-color: $green;
}

.widget-area {
    .widget {
        h3.widgettitle,
        p,
        li,
        .textwidget {
            color: $green;
            font-size: $font-size-sm;
        }

        h3.widgettitle {
            font-family: $font-heading;
            font-weight: 700;
        }

        &.widget_ccluk-newsletter-signup,
        &.widget_custom_html {
            #mc_embed_signup {
                form {
                    @include padding( 1.5, 0 );

                    #mc-embedded-subscribe.button {
                        @include button();
                        font-family: $font-default;
                        height: auto;
                        line-height: 1;
                    }

                    div.response {
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

.dir-header {
    border-bottom: 1px solid $green;
}

.archive.post-type-archive {
    .site-content {
        max-width: $content_w;
    }
}

.archive,
.blog {
    #content {
        > .archive-header {
            h1 {
                color: $green;
            }
        }
    }

    #main {
        max-width: 100%;
        display: block;

        article {
            padding-top: 0 !important;
        }
        .post-author {
            -webkit-box-ordinal-group: 1;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            position: relative;
            z-index: 1;
            .author {
                display: inline-flex;
                flex-direction: column;
                position: relative;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 23px;
                    vertical-align: bottom;
                    margin-bottom: 20px;
                }
            }
            .author-details {
                .author-middle {
                    display: none;
                }
            }
            .author-follow {
                display: none;
            }
            .entry-date time {
                border-bottom: none;
            }
        }
    }
}

.entry-header {
    .entry-title {
        font-weight: 600;

        a {
            color: $blue;
        }
    }
}

#save_as_draft,
.popup-content .button:not(.ed_button),
#buddypress form#whats-new-form #whats-new-submit input[type=submit],
input[type=submit] {
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: $blue;
    color: $white;
    @include border-radius(3px);

    &:hover,
    &:active {
        background-color: $green;
    }
}

.formatted-content {
    color: rgba(0, 0, 0, 0.6);
}

.post-author .load-more-posts,
.trigger-sidebar {
    display: none;
}

.entry-caption,
.gallery-caption,
.wp-caption .wp-caption-text {
    font-size: 14px;
    line-height: 1.6;
}

div.footer-inner-bottom {
    padding-bottom: 80px;
}

a.button {
    @include button();
}

a.cta {
    @include cta();
}

.green-bg,
.blue-bg {
    a.cta:hover {
        color: $green;
        background-color: $white;

        &:after {
            color: $green;
        }
    }
}

.mfp-bg.onesocial-popup {
    background: $white;
    opacity: 0.97;
}
