#logo-area {
    width: 380px;
}

.site-header .site-title {
    width: 360px;
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
textarea,
.popup-content .input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.popup-content input:not([type=checkbox]):not([type=radio]):not([type=button]) {
    background-color: $white;
    border-width: 1px 1px 1px 1px;
    border-color: $green;
    border-style: solid solid solid solid;
    @include padding( .6, 1.2 );
}

h1, h2, h3, h4, h5, h6, ul, ol, dd, table, p, address, pre, hr, figure, video {
    margin-bottom: 16px;
}

h3, h4 {
    line-height: 1.6;
}

.bluebox {
    width: 100%;
    color: $white;
    background-color: $blue_bg;
    @include padding(2, 5);
    @include margin(2, 0);
}

#save_as_draft:hover {
    color: $black;
    background-color: $green;
}

.widget-area .widget p, 
.widget-area .widget li, 
.widget-area .widget .textwidget {
    font-size: 18px;
}

.dir-header {
    border-bottom: 1px solid $green;
}

.archive.post-type-archive {
    .site-content {
        max-width: 780px;
    }
}

.archive,
.blog {
    #content {
        > .archive-header {
            h1 {
                color: $green;
            }
        }
    }

    #main {
    
        max-width: 100%;
        display: block;
        
        article {
            padding-top: 0 !important;
        }
        .post-author {
            -webkit-box-ordinal-group: 1;
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            width: 165px;
            float: left;
            position: relative;
            z-index: 1;
            padding-right: 20px;
            padding-bottom: 10px;
            .author {
                display: inline-block;
                width: 84px;
                position: relative;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 23px;
                    vertical-align: bottom;
                    margin-bottom: 20px;
                }
            }
            .author-details {
                .author-middle {
                    display: none;
                }
            }
            .author-follow {
                display: none;
            }
            .entry-date time {
                border-bottom: none;
            }
        }
    }
}

.entry-header {
    .entry-title {
        margin-top: 10px;
        margin-top: 1rem;
        font-weight: 600;

        a {
            color: $blue;
        }
    }
}

#save_as_draft, 
.popup-content .button:not(.ed_button), 
#buddypress form#whats-new-form #whats-new-submit input[type=submit],
input[type=submit] {
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: $green;
    color: $white;
    @include border-radius(3px);
}

#bbpress-forums fieldset.bbp-form {
    input,
    textarea {
        @include padding( .6, 1.2 );
    } 
}

.formatted-content {
    color: rgba(0, 0, 0, 0.6);
}

.post-author .load-more-posts,
.trigger-sidebar {
    display: none;
}

.single-item.groups #buddypress #item-header span.activity {
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}