#logo-area {
    width: 380px;
}

.site-header .site-title {
    width: 360px;
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
textarea,
.popup-content .input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.popup-content input:not([type=checkbox]):not([type=radio]):not([type=button]) {
    background-color: $white;
    border-width: 1px 1px 1px 1px;
    border-color: $green;
    border-style: solid solid solid solid;
    padding: 12px;
}

h1, h2, h3, h4, h5, h6, ul, ol, dd, table, p, address, pre, hr, figure, video {
    margin-bottom: 16px;
}

h3, h4 {
    line-height: 1.6;
}

.bluebox {
    width: 100%;
    color: #fff;
    background-color: $blue_bg;
    @include padding(2, 5);
    @include margin(2, 0);
}

#save_as_draft:hover {
    color: $black;
    background-color: $green;
}

.widget-area .widget p, 
.widget-area .widget li, 
.widget-area .widget .textwidget {
    font-size: 18px;
}

.archive {
    #content {
        > .archive-header {
            @include margin(2.4, 0);

            h1 {
                color: $green;
            }
        }
    }
}

.entry-header {
    .entry-title {
        margin-top: 10px;
        margin-top: 1rem;
        font-weight: 600;

        a {
            color: $blue;
        }
    }
}

#save_as_draft, 
.popup-content .button:not(.ed_button), 
input[type=submit] {
    border: none;
    padding: 10px 20px 10px 20px;
    background-color: $green;
    color: $white;
    @include border-radius(3px);
}

.formatted-content {
    color: rgba(0, 0, 0, 0.6);
}