/* Home page */

body.page-template-homepage {

	#main {
		display: block;
		width: 100%;
		max-width: 100%;
		margin: 0;

		.section {
			display: block;
			width: 100%;
			@include padding( 2, 0 );

			&#primary {
				padding: 0;
			}

			.section-content {
				max-width: 1170px;
				margin: 0 auto;
				@include display-flex( flex-start );

				.list-item {
					width: 300px;
					margin: 20px;
					display: inline-block;
					text-align: left;

					> .entry-header {
						display: block;
						margin: 12px 0;

						.entry-title {
							margin-top: 12px;
							line-height: 1.4;
							font-size: 24px;
							color: $green;
						}

						> a {
							display: block;
							margin: 0;

							> .entry-title {
								color: $blue;
							}
						}

						img.wp-post-image {
							margin: 0;
						}
					}

					.entry-content {
						.item-meta {
							.activity {
								font-size: 85%;
								font-style: italic;
							}
						}
					}

					.action {
						.meta {
							font-size: 85%;
							font-style: italic;
						}
					}
				}
			}

			.section-title {
				text-align: center;
				max-width: 420px;
				margin: 0 auto;

				h4 {
					background-color: $green;
					padding: 15px 30px;
					margin: 10px 30px;
					font-size: $font-size-mid;
					color: $white;
					text-transform: uppercase;
					border-radius: 10px;
				}

				a > h4 {
					background-color: $blue;

					&:hover {
						background-color: $green;
					}
				}

				&.icon {
					display: block;
					font-size: $font-size-vlg;
				}
			}

			.section-footer {
				text-align: center;
				margin: 0 auto;
			}

			&.banner {

				position: relative;
				padding: 0;
				min-height: 400px;

				.section-content {
					min-height: 400px;
					> img {
						display: block;
						object-fit: cover;
					}
				}

				.section-title-container {
					display: flex;
					padding: 0;
					z-index: 5;

					> .section-title {
						position: relative;

						h2, 
						p {
							color: $white;
						}

						.buttons > .button {
							color: $white;
							font-weight: 500;
							text-transform: uppercase;
							margin: 10px;
						}
					}
				}

				&.background {
					.section-content {
						max-width: 100%;
						background-color: $black;

						> img {
							min-width: 100%;
							min-height: 100%;
							opacity: 0.5;
							margin: auto;
						}
					}

					.section-title-container {
						display: flex;
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						padding: 0;
						text-align: center;
						z-index: 5;
						width: 100%;
						height: 100%;

						> .section-title {
							align-self: center;
							position: relative;
							max-width: 650px;
						}
					}
				}

				&.text-left,
				&.text-right {
					.section-content {
						float: right;
						width: 50%;
						> img {
							width: 100%;
							height: 100%;
						}
					}
					.section-title-container {
						width: 50%;
						min-height: 400px;
						float: left;
						background-color: $green;
						color: $white;

						> .section-title {
							margin: 50px 8%;
							h2, 
							p {
								text-align: left;
							}
						}
					}
				}

				&.text-right {
					.section-content {
						float: left;
					}
					.section-title-container {
						float: right;
					}
				}
			}

			&.feature {
				.section-content {
					max-width: 580px;

					article {
						@include display-flex( flex-start );
						@include padding( 2, 0 );

						.list-item {
							width: auto;
							margin: 0;
						
							&.entry-image {
								max-width: 580px;
							}

							&.entry-content {
								max-width: 540px;
								@include padding( 0, 3 );

								.entry-title {
									@include margin( 1, 0 );
									font-size: $font-size-lg;
								}
							}
						}
					}
				}
			}

			&.about {
				.section-content {
					text-align: center;
					align-content: center;
					justify-content: center;

					.list-item {
						padding: 30px;
						background-color: $green;
						color: $white;
						font-size: 130%;
						text-align: center;
					}
				}
				.section-intro,
				.section-footer {
					padding: 10px;
					max-width: 400px;
					text-align: center;
					margin: 0 auto;
				}
			}

			&.posts {
				
				.section-content {
					max-width: 1020px;
					text-align: center;
				}
			}

			&.twitter {
				#ctf {
					.ctf-header {
						float: none;
						display: none;
						text-align: center;
						width: 100%;	
						border-bottom: 0;

						a {
							float: none;
							margin: 0 auto;
							width: 420px;
						}	

						.ctf-header-user {
							font-size: $font-size-std;
						}	
					}

					.ctf-tweets {
						@include display-flex( center, space-evenly );
						flex-direction: row column;
						width: 100%;
						padding: 30px 2%;

						.ctf-item {
							width: 300px;
							padding-right: 15px;
							padding-left: 15px;
							align-self: flex-start;
							border-top: 0;
							@include margin( 1, 1 );
							font-size: $font-size-sm;
						}
					}

					.ctf-more {
						display: none;
					}

					&.ctf-styles {
						.ctf-author-screenname, 
						.ctf-context, 
						.ctf-twitterlink, 
						.ctf-tweet-meta {
							font-size: 11px;
						}
					}
				}
			}

			&.join,
			&.newsletter,
			&.embed {

				.section-content {

					justify-content: space-around;
					@include align-items( start );
					@include padding( 1, 0 );

					.intro {
						color: $white;
						font-size: $font-size-mid;
					}
					.list-item {
						width: auto;
						max-width: 450px;
						@include margin( 1, 1 );

						.privacy-policy,
						.link-text {
							font-style: italic;
							font-size: 85%;

							a {
								opacity: 0.85;
							}

							a:hover {
								opacity: 1;
							}
						}
						
						&.form {
							form.mc4wp-form {
								label {
									display: none;
								}
								input {
									width: 100%;

									&[type="submit"] {
										width: auto;
										@include button( $white, $green );
										float: right;
									}
								}
							}
						}
					}
				}

				&.embed,
				&.newsletter {
					.section-content {
						.list-item {
							&.form {
								#mc_embed_signup {
									background: transparent;
									color: $white;
									font-family: $font-default;
									font-size: $font-size-std;

									.mc-field-group {
										width: 100%;
									}

									h2 {
										display: none;
									}

									label, input, .button {
										font-size: $font-size-std;
									}

									.button {
										@include button( $white, $green );
										font-family: $font-default;
										height: auto;
										line-height: 1;
										float: right;
									}

									#mc-embedded-subscribe-form {

										input.mce_inline_error {
											color: $red;
										}
										div.mce_inline_error {
											@include border-radius(10px);
											@include padding(1, 2);
											@include margin(1);
											background-color: $red;
											color: $white;
											font-size: $font-size-std;
											font-weight: 400;
										}
									}

									div.response {
										@include margin(1);
										@include padding(1, 2);
										@include border-radius(10px);
										font-weight: 400;
										color: $white;

										&#mce-success-response {
											background-color: $black;
										}
										&#mce-error-response {
											background-color: $red;
										}
									}
								}
							}
						}
					}
				}
			}

			&.green-bg,
			&.blue-bg {
				.section-title {
					color: $white;
				}

				.section-content {
					form {
						label {
							color: $white;
						}
						input[type="submit"] {
							background: $blue;
						}
					}
					a:not(.cta) {
						color: $white;
						text-decoration: underline;
					}
				}

				&.green-bg {
					background-color: $green;

					.section-content {
						form {
							input[type="submit"] {
								background: $blue !important;
							}
						}
					}
				}

				&.blue-bg {
					background-color: $blue;
				}
			}
		}
	}

	.homepage-section-title > h4 {
		@include button();
	}

	.site {
		padding-top: 0;
		padding-bottom: 0;
	}

	.bb-slider-container .readmore a, 
	.slide-content .button {
	    text-transform: uppercase;
	    border-radius: 5px;
	    padding: 14px 30px 13px;
	    color: $white;
	    border: 2px solid;
	    background-color: $green;
	    margin-left: 5px;
	    margin-right: 5px;
	    display: inline-block;
	    font-weight: 500;
	}

	.bb-slider-container {
		.slideNext,
		.slidePrev {
			top: calc(50% - 25px);
			transform: translate(0, -50%);
		}

		.slide_content > .slide_content_wrap > .inner > .slide_text {
			display: table;
			margin: 0 auto;
			padding: 15px;
			color: $white;
			background-color: $blue_bg;
		}
	}

	#secondary {
		width: auto;
		margin-left: auto;
		margin-right: auto;
		padding: 15px 0;

		&.widget-area .widget h3.widgettitle {
			text-align: center;
		}

		.widget.recent-posts-widget-with-thumbnails {
			ul > li {
				width: 30%;
				float: left;
				clear: right;
				margin-right: 3%;
			
				> a > img {
					clear: both;
				}

				.rpwwt-post-title{
					display: block;
				}
			}
		}
	}

	.slick-slide img {
		min-width: 600px;
	}
}