 body {

     .single-item.groups #buddypress .dir-list.group_members ul.item-list > li,
     .single #buddypress .dir-list ul.item-list > li,
     .bp-user #buddypress .dir-list ul.item-list > li,
     .page-right-sidebar #buddypress .dir-list ul.item-list > li {
       width: 50%;
     }

     #buddypress {
       .dir-list ul.item-list > li {
         width: 33.33333%;
       }
       #groups-directory-form .item-list-tabs {
         max-width: 100%;
       }
     }
     .entry-content #buddypress #blogs-directory-form .item-list-tabs {
       max-width: 100%;
     }
     #buddypress {
       #members-directory-form .item-list-tabs, .dir-search.boss-search-wrapper {
         max-width: 100%;
       }
     }
     .single-item.groups #secondary {
       margin-top: 0;
     }
     div.footer-inner-bottom .footer-inner {
       -webkit-flex-flow: column nowrap;
       -ms-flex-flow: column nowrap;
       flex-flow: column nowrap;
     }
     .item-header-mobile {
       display: block;
     }
     .item-header-sidebar {
       display: none;
     }
     .bb-group-avatar-wrap-mobile {
       margin-right: 30px;
       float: left;
     }
     .groups .bb-group-avatar-wrap-mobile div#item-header-avatar {
       margin-right: 20px;
       width: auto;
     }
     .bb-group-avatar-wrap-mobile #item-header-content {
       padding-top: 120px;
       position: relative;
     }
     .single-item {
       &.groups .bb-group-avatar-wrap-mobile + #item-header {
         margin-top: 0;
       }
       #buddypress #item-title-area {
         display: block;
         height: auto;
       }
       &.groups #buddypress #item-nav {
         clear: both;
       }
     }
     .boss-group-header #item-actions::after {
       clear: both;
       content: "";
       display: table;
     }
     #buddypress div#item-header .group-admin-name {
       color: inherit;
       text-shadow: 0 0 0;
     }
     #item-title-area {
       h1 {
         font-size: 26px;
         margin: 0;
       }
     }
     .bb-group-mobile-content {
         display: block;
         overflow: hidden;
         width: -moz-calc(100% - 221px);
         width: -webkit-calc(100% - 221px);
         width: -o-calc(100% - 221px);
         width: calc(100% - 221px);
         float: right;
         #item-meta {
             p {
                 color: $green;
             }
         }
     }
     .boss-group-header {
       .group-header-content {
         width: -moz-calc(100% - 221px);
         width: -webkit-calc(100% - 221px);
         width: -o-calc(100% - 221px);
         width: calc(100% - 221px);
         float: right;
         h1 {
           width: 100%;
         }
       }
       #item-actions {
         overflow: hidden;
         width: 100%;
       }
     }
     .bb-group-avatar-wrap-mobile {
       display: block;
     }

     .entry-title,
     h2 {
         font-size: $font-size-mid;
     }

    &.page {
        #secondary.widget-area {
            @include centred-margin( 2 );
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;

            .widget {
                width: 320px;
                padding: 0 15px;
                border-bottom: none;
            }
        }

        &.buddypress {
            #buddypress {
                .item-header-mobile {
                    display: block;
                }
                .item-header-sidebar {
                    display: none;
                }
            }
        }
    }

    &.register {
        div#register-page {
            p {
                font-size: $font-size-sm;
            }
        }
    }

    @include mobile-styles();
}

#secondary.widget-area {
    border-left: none;
}
.bb-has-sidebar #main {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sidebar-left {
    #main, .search-content-wrap, .buddypress-content-wrap {
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
}
.search-content-wrap, .buddypress-content-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bb-has-sidebar {
    .search-content, .buddypress-content {
        max-width: 100%;
    }
}
#secondary {
    width: 100%;
    margin: 0;
    max-width: 100%;
}
.sidebar-left #secondary, .sidebar-right #secondary {
    margin: 0;
}
.site-content #secondary {
    padding: 0;
}
.bb-has-sidebar #trigger-sidebar {
    display: none;
}
.home-inner-wrap #secondary {
    display: block !important;
}
.blog:not(.bp-user) .site-content {
    max-width: 100%;
}
.archive {
    &.tag .site-content, &.date .site-content, &.author .site-content, &.category .site-content {
        max-width: 100%;
    }
}
#buddypress #whats-new-header-content {
    max-width: 560px;
}
