body {
	background-color: $white;

	&.single-ccluk_news .entry-header.has-image h1 {
    	font-size: 24px;
	}

	&.archive {
		.listing {
			.article-outher {
				.post-author {
					display: none;
				}
			}
		}
	}

	#mobile-header {
		#mobile-logo {
			img {
				max-height: 44px;
				max-width: 200px;
				margin: 10px auto;
			}
		}

		.right-btn:before {
			font-size: $font-size-sm;
		}
	}

	.bb-slider-container {
		top: 0;
		margin-bottom: 0;

		.title {
			font-size: $font-size-sm !important;
		}
	}
}