body.page-template-homepage {
    #main {
        .section {
            @include padding(3, 0);
            padding-bottom: 50px;
            padding-bottom: 5rem;
        }
    }
}

body.page {
    #primary {
        article {
            > .entry-header {
                @include margin( 2.4, 0 );

                h1.entry-title {
                    font-size: $font-size-vlg;
                }
            }
        }
    }
}

.single,
.single-post {
    .entry-header {
        h1 {
            font-size: $font-size-lg;
        }
    }
}

#buddypress {
    div#register-page {

        .register-section {
            width: 46% !important;
            max-width: 46% !important;
            margin: 30px 0 30px 0 !important;
            padding: 0;

            &#basic-details-section {
                float: left !important;
                clear: left !important;
            }

            &#profile-details-section {
                float: right !important;
                clear: right !important;
            }
        }
    }
}