/*--------------------------------------------------------------
MINIMUM width of 1200 pixels (large desktops)
--------------------------------------------------------------*/

body.page-template-homepage {
	#main {
		.section {

			&.feature {
				.section-content {
					max-width: 1170px;

					article {
						.list-item {
							&.entry-image {
								width: 580px;
								text-align: right;
							}

							&.entry-content {
								width: 540px;

								.entry-title {
									font-size: $font-size-big;
								}
							}
						}
					}
				}
			}

			&.banner {
				.section-title-container > .section-title {
					max-width: 900px;
					
					h2 {
						font-size: $font-size-big;
					}
				}
			}
		}
	}
}