body.page-template-homepage {
    #main {
        .section {
            @include padding(3, 0);
        }
    }
}

body.page {
    #primary {
        article {
            > .entry-header {
                @include margin( 2.4, 0 );

                h1.entry-title {
                    font-size: $font-size-vlg;
                }
            }
        }
    }
}

body.archive.post-type-archive-ccluk_news {
    .post-author .entry-date {
        font-size: 20px;
        text-align: right;

        time {
            width: 100px;
            margin-left: -50px;
        }
    }
}

.single,
.single-post {
    .entry-header {
        h1 {
            font-size: $font-size-lg;
        }
    }
}

#buddypress {
    div#register-page {

        .register-section {
            width: 46%;
            max-width: 46%;
            margin: 30px 0 30px 0;
            padding: 0;

            &#basic-details-section {
                float: right;
                clear: right;
            }

            &#profile-details-section {
                float: left;
                clear: left;
            }
        }
    }

    #groups-list {
        .boss-group-content {
            min-height: 150px;
        }
    }
}
