@mixin easeInOut {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

@mixin border-radius($x) {
	-webkit-border-radius: $x;
	-moz-border-radius: $x;
	border-radius: $x;
}

@mixin font-size($sizeValue: 1.8) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin margin($y: 1, $x: 1) {
  margin: ($y * 10) + px ($x * 10) + px;
  margin: $y + rem $x + rem;
}

@mixin margin-bottom($value: 1) {
  @include margin-pos($value, 'bottom');
}

@mixin margin-top($value: 1) {
  @include margin-pos($value, 'top');
}

@mixin margin-pos($value: 1, $pos: 'bottom') {
  margin-#{$pos}: ($value * 10) + px;
  margin-#{$pos}: $value + rem;
}

@mixin centred-margin($value: 1.5) {
  @if $value == 0 {
    margin: 0 auto;
  } @else {
    margin: ($value * 10) + px auto;
    margin: $value + rem auto;
  }
}

@mixin padding($y: 1, $x: 1) {
  padding: ($y * 10) + px ($x * 10) + px;
  padding: $y + rem $x + rem;
}

@mixin padding-right( $value: 0 ) {
  @if $value == 0 {
    padding-right: 0;
  } @else {
    padding-right: ($value * 10) + px;
    padding-right: $value + rem;
  }
}

@mixin input-field() {
  @include padding( .6, 1.2 );
}

@mixin bp-item-list-tabs() {
  ul {
    li {
      a {
        font-size: 14px;
        background-color: $white;
        border-color: $blue;
        color: $blue;
        @include border-radius(5px);
      }
      &:hover,
      &.current,
      &.selected {
        a {
          background-color: $green;
          border-color: $green;
          color: $white;
        }
      }
    }
  }
}

@mixin display-flex( $align: center, $justify: center ) {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-wrap: wrap;
  	@include align-items( $align );
  	justify-content: $justify;
}

@mixin flex-row-wrap() {
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

@mixin align-items( $align: center ) {
	-webkit-align-items: $align;
  	align-items: $align;
}

@mixin button( $hover_bg: $green, $hover_color: $white ) {
  @include border-radius( 5px );
  background-image: none;
  background-color: $blue;
  border: none;
  text-shadow: none;
  box-shadow: none;
  @include padding( .6, 1 );
  color: $white !important;
  &:hover {
    color: $hover_color !important;
    background-color: $hover_bg !important;
  }
}

@mixin button-small( $hover_bg: $green, $hover_color: $white ) {
  @include button( $hover_bg, $hover_color );
  @include padding( .35, 1 );
}

@mixin cta() {
  @include border-radius( 10px );
  background-color: $blue;
  @include padding( 1.2, 4.8 );
  @include padding-right( 10.8 );
  @include margin( 1, 3 );
  font-size: $font-size-mid;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  position: relative;
  &:after {
    font-family: "FontAwesome";
    font-size: $font-size-mid;
    font-weight: 100;
    color: $white;
    content: "\f054";
    position: absolute;
    right: 30px;
    line-height: 30px;
    top: calc(50% - 15px);
  }
  &:hover {
    background-color: $green;
  }
}

@mixin page-header( $font-size: $font-size-lg ) {
  @include margin( 1.2, 0 );
  border-bottom: 1px solid $green;

  h1.entry-title {
    @include page-title( $font-size );
  }

  a > .entry-title {
  color: $blue;
  }
}

@mixin page-title( $font-size: $font-size-lg ) {
  font-size: $font-size;
  padding-bottom: 15px;
  color: $green;
}

@mixin form-label() {
  font-size: 18px;
  color: $green;
}

@mixin form-input() {
  padding: 12px;
  height: auto;
}

@mixin mobile-styles() {
  &.single,
  &.archive,
  &.page:not(.home-page),
  &.blog:not(.bp-user) {
    #primary,
    #secondary,
    .site-content {
      max-width: $content_w;
      @include centred-margin( 0 );
    }
    &.page.page-sidebar-active {
      #secondary {
        @include margin-top( 2 );

        .widget {
          @include margin-bottom( 3 );
        }
      }
    }
  }
  #main-wrap {
    padding-top: 70px;
  }
}

@mixin darken() {
	-moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}
