// Mixins

@mixin button() {
  border-radius: 5px;
  background-color: $green;
  border: none;
  @include padding( 1.2, 2.4 );
  color: $white !important;
  &:hover {
    color: $black;
    background-color: $green;
  }
}

@mixin easeInOut {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

@mixin border-radius($x) {
	-webkit-border-radius: $x;
	-moz-border-radius: $x;
	border-radius: $x;
}

@mixin font-size($sizeValue: 1.8) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin margin($y: 1, $x: 1) {
  margin: ($y * 10) + px ($x * 10) + px;
  margin: $y + rem $x + rem;
}

@mixin margin-bottom($value: 1) {
  @include margin-pos($value, 'bottom');
}

@mixin margin-top($value: 1) {
  @include margin-pos($value, 'top');
}

@mixin margin-pos($value: 1, $pos: 'bottom') {
  margin-#{$pos}: ($value * 10) + px;
  margin-#{$pos}: $value + rem;
}

@mixin centred-margin($value: 1.5) {
  margin: ($value * 10) + px auto;
  margin: $value + rem auto;
}

@mixin padding($y: 1, $x: 1) {
  padding: ($y * 10) + px ($x * 10) + px;
  padding: $y + rem $x + rem;
}