// Mixins

@mixin easeInOut {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

@mixin border-radius($x) {
	-webkit-border-radius: $x;
	-moz-border-radius: $x;
	border-radius: $x;
}