/*--------------------------------------------------------------
Mobile Header
--------------------------------------------------------------*/

#mobile-header {
    background-color: $white !important;

	h1 {
	    color: $black;
	
		a {
		    color: $black;
		}
	}

	.left-btn:before,
	.right-btn:before {
		color: $dark;
	}
}

/*--------------------------------------------------------------
Slider
--------------------------------------------------------------*/

.bb-slider-container .title {
	font-size: 20px !important;
}

.post-author-info .author-follow {
    right: 0;
}

/*--------------------------------------------------------------
Is mobile
--------------------------------------------------------------*/

body.is-mobile {
	#main-wrap {
		margin-top: 55px;
	}

	&.single {
		#primary {
			max-width: 780px;
			@include centred-margin( 0 );
		}
	}
}