/*--------------------------------------------------------------
Mobile Header
--------------------------------------------------------------*/

#mobile-header {
    background-color: $white !important;

	h1 {
	    color: $black;
	
		a {
		    color: $black;
		}
	}

	.left-btn:before,
	.right-btn:before {
		color: $dark;
	}
}

/*--------------------------------------------------------------
Is mobile
--------------------------------------------------------------*/

body.is-mobile {
	&.single,
	&.archive, 
	&.blog:not(.bp-user) {
		#primary,
		.site-content {
			max-width: 780px;
			@include centred-margin( 0 );
		}
	}
	#primary,
	.site-content {
		padding-top: 70px;
	}
}