/*--------------------------------------------------------------
Mobile Header
--------------------------------------------------------------*/

#mobile-header {
    background-color: $white !important;
    padding-top: 8px;
    height: 70px;

	h1 {
	    color: $black;
	
		a {
		    color: $black;
		}
	}

	.left-btn,
	.right-btn {
		padding-top: 8px;

		&:before {
			color: $dark;
			font-size: $font-size-std;
		}
	}

	.left-btn {
		left: $font-size-std;
	}

	.right-btn {
		right: $font-size-std;
	}

	#mobile-logo {
		img {
			max-height: 70px;
			max-width: 300px;
			margin: 5px auto;
		}
	}
}

/*--------------------------------------------------------------
Mobile Menu
--------------------------------------------------------------*/

#mobile-right-panel {

	li {
		width: 100%;

		a {
			color: $blue;
			font-weight: 700;

			&:hover {
				color: $green;
			}
		}
		&.current-menu-item {
			background-color: $white;

			a {
				color: $green;
			}
		}
	}

	.sub-menu {
		li {
			a {
				font-weight: 400;
				background: rgba(0, 0, 0, .9);
				padding-left: 40px;
			}
		}
	}

	.submenu-btn {
		color: $blue;

		&:hover {
			color: $green;
		}
	}
}

/*--------------------------------------------------------------
Is mobile
--------------------------------------------------------------*/

body.is-mobile {
	&.single,
	&.archive, 
	&.page:not(.home-page),
	&.blog:not(.bp-user) {
		#primary,
		#secondary,
		.site-content {
			max-width: $content_w;
			@include centred-margin( 0 );
		}
	}
	#main-wrap {
		padding-top: 70px;
	}
}