/* styles for pages */

body.page {

	article {
		> .entry-header {
			margin: 24px 0;

			.entry-title {
				color: $blue;
			}
		}
	}

	#secondary, 
	.default-page+#secondary,
	&.page-template #secondary {
    	padding-top: 50px;
   	}

	#content {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}

	#secondary {
		.widget_subpages {
			position: fixed;

			ul > li {

				a {
					display: inline-block;
					border-left: 10px solid;
					padding-left: 15px;
					font-weight: 600;

					&:hover {
						color: $blue;
					}
				}

				&.first-menu-item {
					a {
						font-size: 110%;
						border-left: 0;
						padding-left: 0;
					}
				}

				&.widget_subpages_current_page {
					a {
						color: $blue;
						pointer-events: none;
			  			cursor: default;
					}
				}
			}
		}
	}
}