/* styles for pages */

body.page {
	#primary {
		article {
			> .entry-header {
				@include page-header();
			}

			&.has-post-thumbnail {
				> .entry-header {
					border-bottom: none;
					padding-bottom: 0;

					img {
						@include margin( 1.2, 0 ); 
					}
				}
			}
		}
	}

	#secondary, 
	.default-page+#secondary,
	&.page-template #secondary {
		@include margin-top( 9.4 );
   	}

   	&.page-template-page-nosidebar {
		#main {
			max-width: $content_w;

			#primary {
				article > .entry-header {
					text-align: center;
				}
			}
		}

		#secondary {
			display: none;
		}
	}

	#content {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}

	#secondary {
		.widget_subpages {
			width: 290px;

			ul > li {

				a {
					display: inline-block;
					border-left: 10px solid;
					padding-left: 15px;
					font-weight: 400;
					font-size: $font-size-sm;

					&:hover {
						color: $green;
					}
				}

				&.widget_subpages_current_page {
					> a {
						color: $green;
						pointer-events: none;
			  			cursor: default;
					}
				}

				ul {
					margin-top: 10px;
					margin-top: 1rem;
				}
			}
		}
	}
}