/** Register **/

.register {

    fieldset,
    div#register-page .register-section, 
    div#register-page .security-question-section {
    	border: none;
    }

    .popup-content {
    	background: rgba( 255, 255, 255, 0.8 );
    }

    .popup-content input:not([type="checkbox"]):not([type="radio"]):not([type="button"]), 
    .popup-content .input:not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
    	font-size: 18px;
    }

    .entry-header {
        h1.entry-title {
            color: $blue;
        }
    }
        
    div#register-page {
        
        text-align: left;

        p {
            font-size: $font-size-std;
        }

        .wp-social-login-widget {
            text-align: center;
        }

        .register-section {

            label, legend {
                font-size: 18px;
                color: $green;
            }

            h2 {
                color: $green;
                font-weight: normal;
            }

            box-shadow: none;

            &#basic-details-section {
                input {
                    padding: 12px;
                    height: auto;
                }
            }

            &#profile-details-section {
                .editfield {
                    padding: 0;

                    fieldset {
                        border: none;
                        margin: 0;
                        padding: 0;

                        legend {
                            margin-bottom: 10px;
                            line-height: 1;
                        }
                    }
                }

                .field-visibility-settings-toggle{
                    display: none;
                }
            }
        }

        /* newsletter sighup checkbox */
        .mc4wp-checkbox {

            text-align: center;
            label {
                strong {
                    margin-right: 12px;
                }
                span {
                    color: $green;
                    font-size: 18px;
                    line-height: 1.5;
                }
            }
        }

        .submit {
            margin: 10px auto 24px;
            max-width: 400px;
            text-align: center;
        }
    }
}