/** Register **/

fieldset,
div#register-page .register-section, 
div#register-page .security-question-section {
	border: none;
}

.popup-content {
	background: rgba( 255, 255, 255, 0.6 );
}

.popup-content input:not([type="checkbox"]):not([type="radio"]):not([type="button"]), 
.popup-content .input:not([type="checkbox"]):not([type="radio"]):not([type="button"]) {
	padding: 10px 20px 15px;
	background: #fff;
	font-size: 18px;
}