.single {
    .header-area {
        position: relative;
    }
    
    .entry-post-thumbnail {
        height: 425px;
        margin-bottom: 40px;
        background-size: cover;
        background-position: center center;
    }

    .header-area .table {
        display: table;
        height: 100%;
        max-width: 780px;
        max-height: 425px;
        margin: 0 auto;
    }

    .entry-header.has-image h1 {
        margin: 0 auto;
        color: #fff;
        background-color: $blue_bg;
        text-shadow: none;
    	padding: 12px 24px;
        font-size: 45px;
        line-height: 1.6;
        text-align: center;
        text-shadow: none;
        margin-top: -10%;
    }

    .entry-header.has-image {
    	text-align: center;
    	position: absolute;
    	width: 100%;
    	top: 0;
    	height: 100%;
    }

    &.single-ccluk_news .entry-meta.posted-on {
    	margin: 1rem 0;
    }
}
