.single,
.single-post {
    .header-area {
        position: relative;

        .entry-header,
        .sap-post-meta {
            padding-left: 15px;
            padding-right: 15px;
        }

        .sap-post-meta {
            margin-top: 15px;
        }
    }
    
    .entry-content.entry-summary {
        padding-left: 15px;
        padding-right: 15px;
    }

    .entry-post-thumbnail {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        img {
            float: none;
            width: auto;
        }
    }

    .entry-header,
    .entry-header.has-image,
    .entry-header.not-image {

        position: static;
        @include centred-margin(0);
        text-align: left;  
        max-width: 780px;

        h1 {
            color: $black;
            text-shadow: none;
            @include padding(.5, 0);
            line-height: 1.4;
            max-height: auto;  
            text-align: left;
            font-size: 32px;
        }

        .post-author-info {
            border-top: none;

            .details {
                padding-top: 20px;
            }
            .authors-avatar {
                padding: 0 0 15px;
            }
            .author-follow {
                top: 20px;
            }
            .entry-meta {
                font-size: 16px;
                padding-top: 0;
            }
            .entry-meta,
            .author-name {
                a {
                    color: $green;
                }
            }
        }
    }

    .entry-tags {
        h3 {
            @include margin-bottom( 1.2 );
        }
        a {
            @include border-radius(5px);
            background-color: $blue;
            color: $white;

            &:hover {
                background-color: $green;
            }
        }
    }

    .comments-area {
        #respond {
            form {
                input[type=text],
                input[type=email],
                textarea {
                    border: 1px solid $green;
                    padding: 12px;
                }

                p {
                    text-align: right;
                    input[type=submit] {
                        margin-top: 5px;
                        float: right;
                    }
                }
            }
        }

        article {
            header {
                @include margin-bottom( 1.5 );
            }
        }
    }
}
