.single,
.single-post {
    .header-area {
        position: relative;
    }
    
    .entry-post-thumbnail {
        max-height: 425px;
        max-width: 1200px;
        @include centred-margin(2);
        background-size: contain;
    }

    .entry-header,
    .entry-header.has-image,
    .entry-header.not-image {

        position: static;
        @include centred-margin(2);
        text-align: left;  
        max-width: 780px;

        h1 {
            color: $blue;
            text-shadow: none;
            @include padding(1, 0);
            line-height: 1.6;
            max-height: auto;  
            text-align: left;   
        }
    }

    &.single-ccluk_news .entry-meta.posted-on {
    	@include margin(1, 0);
    }

    #respond {
        form {
            input[type=text],
            input[type=email],
            textarea {
                border: 1px solid $green;
                padding: 12px;
            }

            p {
                text-align: right;
                input[type=submit] {
                    margin-top: 5px;
                    float: right;
                }
            }
        }
    }
}
