
/** Variables **/

$white: #fff;
$black: #000;
$dark: #333;
$green: #54ae68;
$blue: #22a7f0;
$blue_bg: rgba(0, 152, 218, 0.85);
$secondary_bg: #f9f9f9;
$content_w: 750px;
$font-size-std: 21px;
$font-size-lg: 36px;
$font-size-vlg: 70px;