
/** Variables **/

$white: #fff;
$black: #000;
$dark: #333;
$green: #54ae68;
$dark_green: #217B35;
$blue: #22a7f0;
$dark_blue: #00418A;
$blue_bg: rgba(0, 152, 218, 0.85);
$green_bg: rgba(84, 174, 104, 0.85);
$secondary_bg: #f9f9f9;
$content_w: 750px;
$font-size-tiny: 12px;
$font-size-sm: 15px;
$font-size-std: 21px;
$font-size-mid: 24px;
$font-size-lg: 36px;
$font-size-big: 50px;
$font-size-vlg: 70px;