// Main Desktop

/*--------------------------------------------------------------
This is the Desktop stylesheet, served to laptops and desktop devices.
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
>>> WORDPRESS
----------------------------------------------------------------
1.1 - All Desktops
    1.1.1 - Basic Structure
    1.1.2 - Sidebars
    1.1.3 - Footer Widgets
    1.1.4 - Header
    1.1.5 - Navigation
    1.1.6 - Blog
    1.1.7 - Single Post
    1.1.8 - Sliding Panels

    1.1.10 - Dropdowns
    1.1.11 - Search Template
1.2 - Custom media queries (desktops and laptops)
    1.2.1 - Basic Structure

    1.2.3 - Widgets
    1.2.4 - Footer

*/
/*--------------------------------------------------------------
1.1.1 - Basic Structure
--------------------------------------------------------------*/

@import "partials/variables";
@import "partials/mixins";


html, body {
  background-color: $white;
  height: 100%;
  /* sticky footer */
}

html.js {
  margin-top: 0 !important;
}

#colophon {
  /* '.push' must be the same height as 'footer' */
  min-height: 80px;
  &.footer-style-2 {
    min-height: inherit;
  }
}

#main-wrap {
  margin: 0 auto;
  min-height: calc(100% - 80px);
  /*margin: 0 auto -104px;  the bottom margin is the negative value of the footer's height */
}

body.page #comments {
  padding: 0 0 50px 0;
}

.site {
  margin: auto;
  position: relative;
}

.single-item.groups .site {
  padding-top: 0;
}

.site-content.default-page {
  padding-bottom: 50px;
}

.archive-header {
  .page-title, .archive-title {
    line-height: 1;
  }
}

.table {
  width: 100%;
  display: table;
}

.table-cell, #header-aside {
  display: table-cell;
  vertical-align: middle;
}

.author-avatar {
  margin-top: 8px;
}

.author-description {
  float: right;
  width: 80%;
}

.header-inner-center {
@include display-flex();
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  margin: 0 auto;
  max-width: 780px;
  padding: 0 30px;
  width: 100%;
}

/*--------------------------------------------------------------
1.1.2 - Sidebars
--------------------------------------------------------------*/

#trigger-sidebar {
  display: none;
  width: 22px;
  height: 21px;
  position: absolute;
  z-index: 11;
}

.ccluk-has-sidebar #trigger-sidebar {
  display: block;
}

body {
  &.blog #main {
    display: block;
    position: relative;
  }
  &:not(.bb-sidebar-on) .home-inner-wrap #secondary {
    display: none;
  }
}

.sidebar-left #trigger-sidebar {
  left: -30px;
  top: 0;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.sidebar-right #trigger-sidebar {
  right: 28px;
}

#main,
.home-inner-wrap {
  @include display-flex();
  @include flex-flow( row wrap );
}

#main,
.header-style-2 .header-wrapper, 
.footer-inner {
  margin: 0 auto;
  max-width: 1170px;
}

body.single-item.groups #main {
  max-width: 100%;
}

#primary {
  margin-right: 0;
  position: relative;
  width: auto;
  z-index: 10;
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  min-width: 1px;
  /* Firefox-34-ignoring-max-width-for-flexbox */
  margin: 0 auto;
}

.single #primary {
  max-width: 780px;
}

.search-content-wrap {
  @include display-flex();
  @include flex-flow( row wrap );
}

.search-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 1px;
  /* Firefox-34-ignoring-max-width-for-flexbox */
}

.ccluk-has-sidebar {
  .search-content {
    max-width: $content_w_large;
  }
}

#secondary {
  padding: 0 15px;
  width: 320px;
}

/* Full Width (no sidebar) */

body {
  &.template-front-page .site-content, 
  &.single-attachment .site-content, 
  &.full-width .site-content {
    width: 100%;
  }
}

.page-full-width {
  .site-content {
    width: 100%;
  }
  width: 100%;
}

#secondary .widget {
  border-bottom: 3px solid $divider_color;
  margin-bottom: 0;
  padding: 70px 0;
  position: relative;
  &.profile_widget, 
  &:first-child {
    padding-top: 0;
  }
}

#secondary .widget:last-child {
  border-bottom: 0;
}

.archive.author #secondary, 
.default-page + #secondary, 
.page.page-template #secondary {
  padding-top: 15px;
}

.search-content-inner .hentry:first-child {
  padding-top: 0;
}

/*--------------------------------------------------------------
1.1.3 - Footer Widgets
--------------------------------------------------------------*/

.footer-widget {
  float: left;
  margin-right: 0;
  padding: 0 15px;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0%;
  flex: 1 1 0;
  min-width: 1px;
  /* Firefox-34-ignoring-max-width-for-flexbox */
}

/*--------------------------------------------------------------
1.1.4 - Header
--------------------------------------------------------------*/

#mobile-right-panel {
  display: none;
}

.site-header {
  background-color: $secondary_bg;
  position: relative;
  &:after {
    background: $divider_color;
    bottom: 0;
    content: ' ';
    height: 1px;
    position: absolute;
    width: 100%;
  }
  #wp-admin-bar-root-default,
  #wp-admin-bar-search,
  #wp-admin-bar-my-account > a {
    display: none;
  }
}

.header-wrapper {
  padding: 0 15px;
  position: relative;
  display: table;
  /* Removed `!important` due to some issues with dropdown */
  width: 100%;
}

.site-header {
  .site-name {
    margin: 0;
  }
  .site-title {
    line-height: 1.4;
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.site-title {
  a {
    color: inherit;
  }
  img {
    max-height: 70px;
    width: auto;
  }
}

.site-header {
  p.site-description {
    clear: left;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    color: #666;
    margin: 0;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 0;
  }
  .header-account {
    float: right;
    margin-top: 32px;
    a {
      display: inline;
    }
    .button {
      padding: 6px 12px;
      margin-left: 8px;
    }
  }
  #logo img {
    max-height: 70px;
    vertical-align: bottom;
    width: auto;
  }
}

#logo-area {
  padding-right: 20px;
  width: 180px;
}

#site-navigation {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  .bb-menu-button i:before {
    content: "\f141";
  }
}

header-aside,
#logo-area {
  display: table-cell;
  vertical-align: middle;
}

#header-search {
  display: inline-block;
  position: relative;
  &:last-child {
    border-right: 3px solid $divider_color;
  }
  form {
    > div {
      height: 100%;
      position: relative;
    }
    height: 100%;
    position: absolute;
    right: 0;
    display: none;
    z-index: 32;
    /* Should be greater than 31 */
    background-color: $white;
    /* border-left: 3px solid rgba(0,0,0,0.1); */
  }
}

/* GeoDirectory - Directory Plugin */

.gd-google-maps #header-search form {
  z-index: 2000;
}

#header-search form {
  input[type="text"] {
    height: 100%;
    width: 100%;
    padding: 20px 80px 20px 30px;
    font-size: 18px;
    font-weight: 300;
    border-left: 3px solid $divider_color;
    border-radius: 0;
    border-bottom: 3px solid $divider_color;
  }
  #searchsubmit {
    position: absolute;
    right: 0px;
    top: -1px;
    /* margin-top: -10px; */
    height: 100%;
    width: 64px;
    border-radius: 0;
    background-color: transparent;
    color: $dark;
    z-index: 1;
    line-height: 70px;
    padding: 0;
    vertical-align: baseline;
    font-size: 18px;
  }
}

.search-wrap input {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

/* firefox 19+ */
/* ie */

#header-search {
  form #searchsubmit {
    i {
      position: relative;
      top: 3px;
    }
    &:hover {
      @include box-shadow(none);
    }
  }
  #search-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 12px;
    width: 12px;
    background-color: $dark_red;
    padding: 0;
    line-height: 13px;
    color: $white;
    font-size: 6px;
    z-index: 2;
    border-radius: 0;
    font-family: inherit;
    margin: 10px;
    outline: none;
    text-align: center;
  }
}

#header-aside {
  width: 200px;
  white-space: nowrap;
}

#header-aside-inner {
  float: right;
  display: table;
  @include display-flex();
}

.header-button {
  height: 70px;
  line-height: 70px;
  width: 66px;
  text-align: center;
  color: $dark;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  vertical-align: bottom;
  z-index: 31;
  i {
    position: relative;
  }
  &.underlined {
    .bb-icon-code {
      font-size: 26px;
    }
  }
  &:hover {
    color: $white;
    background-color: $green;
  }
  #search-open {
      font-size: 18px;
  }
}

/*--------------------------------------------------------------
1.1.5 - Navigation
--------------------------------------------------------------*/

.main-navigation {
  ul.nav-menu, div.nav-menu > ul {
    text-align: left;
    width: 100%;
  }
  ul {
    margin: 0;
    text-indent: 0;
  }

  li {
    a {
      color: $blue;
    }
  }
  .nav-menu {
    > li {
      &:hover,
      &.current-menu-item,
      &.current-menu-ancestor {
        background-color: $green;

        > a {
          color: $white;
        }
      }
    }
    &.horizontal-responsive-menu {
      width: 120%;
    }
  }

  .nav-inner div > ul.open {
    overflow: visible;
  }
  li {
    a {
      display: inline-block;
      text-decoration: none;
      line-height: 1;
      white-space: nowrap;
      word-wrap: break-word;
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      font-size: 13px;
    }
    display: inline-block;
    text-decoration: none;
  }
  .nav-menu > li {
    > a {
      display: block;
      line-height: 13px;
      margin: 0 15px;
      padding: 32px 0 25px;
    }
  }
  li {
    &.current_menu_item, 
    &.current_page_item, 
    a:hover {
      color: $dark;
    }
    margin: 0;
    float: left;
    font-size: 14px;
    line-height: 1;
    position: relative;
    ul {
      display: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      z-index: 1000;
      background-color: $white;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: $green;
      &.sub-menu:before {
        content: '';
        position: absolute;
        width: 100%;
        top: -2px;
        height: 2px;
        display: block;
      }
      ul {
        top: -1px;
        left: 100%;
        border-width: 1px;
        background-color: $white;
      }
    }
  }
  ul li:hover > ul {
    display: block;
  }
  li ul.sub-menu {
    border: 3px solid $green;
    li {
      a {
        border: none;
        display: block;
        line-height: 1.4;
        padding: 12px 10px 12px 15px;
        width: 220px;
        white-space: normal;
        @include subnav-item();
        
        &:hover {
          @include subnav-item-selected();
        }
      }

      &.current-menu-item {
        > a {
          @include subnav-item-selected();
        }
      }

      &.menu-item-has-children > a:after {
        font-family: 'FontAwesome';
        font-weight: normal;
        font-style: normal;
        text-rendering: auto;
        content: "\f105";
        -webkit-font-smoothing: antialiased;
        vertical-align: top;
        float: right;
        font-size: 16px;
        line-height: 1;
      }
    }
    div > ul {
      > {
        .current-menu-item, 
        .current-menu-ancestor {
          > a {
            color: $white;
          }
        }
      }
      ul > .current-menu-item > a {
        color: $white;
      }
    }
    li.hideshow ul {
      border: 0;
      padding: 5px 0;
    }
  }
}

.ccluk-primary-menu {
  height: 70px;
  overflow: hidden;
  /* It is necessary for nice load */
}

.ccluk-page-loaded .ccluk-primary-menu {
  overflow: visible;
}

#site-navigation .hideshow li {
  margin: 0;
  a {
    margin: 0;
    padding: 8px 15px;
  }
}

#respond form {
  input[type="text"] {
    width: 46.333333333%;
  }
  textarea.blog-textarea {
    width: 79.666666667%;
  }
}

.template-front-page {
  .site-content, article {
    overflow: hidden;
  }
  &.has-post-thumbnail article {
    float: left;
    width: 47.916666667%;
  }
}

.entry-page-image {
  float: right;
  margin-bottom: 0;
  width: 47.916666667%;
}

.template-front-page {
  .widget-area .widget, 
    &.two-sidebars .widget-area .front-widgets {
    float: left;
    width: 51.875%;
    margin-bottom: 24px;
  }
  .widget-area .widget {
    &:nth-child(odd) {
      clear: right;
    }
    &:nth-child(even) {
      float: right;
      width: 39.0625%;
      margin: 0 0 24px;
    }
  }
  &.two-sidebars {
    .widget-area .front-widgets + .front-widgets {
      float: right;
      width: 39.0625%;
      margin: 0 0 24px;
    }
    .widget {
      float: none;
      width: auto;
      &:nth-child(even) {
        float: none;
        width: auto;
      }
    }
  }
}

.commentlist .children {
  margin-left: 60px;
  margin-bottom: 0;
}

div.footer-inner.widget-area {
  @include display-flex();
  padding: 0;
}

li.hideshow > ul li {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  a {
    padding: 0px;
  }
}

/*--------------------------------------------------------------
1.1.6 - Blog
--------------------------------------------------------------*/

.blog .post-author, 
.search_results .post-author {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  z-index: 1;
}

.blog .post-author .author img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}

.search_results .post-author {
  .name, .entry-date {
    display: block;
    font-family: inherit;
  }
}

.blog .post-author .author {
  display: inline-block;
  position: relative;
}

.post-author {
  .entry-date time {
    display: inline-block;
    border-bottom: 3px solid $divider_color;
  }
  .load-more-posts {
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    left: 73px;
    line-height: 1;
    max-height: 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 50px;
    &:hover {
      max-height: 300px;
      overflow: visible;
    }
    i {
      display: block;
      width: 14px;
      cursor: pointer;
    }
    a {
      text-transform: uppercase;
      font-size: 10px;
      color: $dark;
      clear: both;
      display: inline-block;
      width: auto;
      background-color: $white;
      padding: 4px 6px 4px;
      border: 3px solid $divider_color;
      opacity: 0;
      visibility: hidden;
      min-width: 90px;
      transition: visibility 0s, opacity 0.5s linear;
      &[data-sort="recommended"] {
        min-width: 165px;
      }
    }
    &:hover a {
      opacity: 1;
      visibility: visible;
      white-space: nowrap;
    }
    a {
      &.show-latest {
        position: relative;
        top: -1px;
      }
      &:hover {
        color: $green;
      }
    }
    &:hover {
      color: $green;
    }
  }
}

.blog .content-wrap, 
.search_results .content-wrap {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  position: relative;
}

.blog .hentry {
  padding-bottom: 30px;
  min-height: 215px;
}

.search_results {
  .type-product, 
  .hentry {
    padding-bottom: 10px;
    min-height: 215px;
  }
}

a.to-top {
  position: absolute;
  right: 20px;
  bottom: -15px;
  line-height: 30px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50%;
  border: 3px solid $divider_color;
  text-align: center;
  z-index: 1;
  background-color: $white;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: $dark;
  font-size: 11px;
}

article:hover a.to-top {
  opacity: 1;
}

.author-details {
  position: relative;
}

.group-join, .author-follow {
  /* background: $white; */
  z-index: 2;
  position: relative;
}

.author-details {
  .author-top {
    /* background: $white; */
    z-index: 2;
    position: relative;
  }
  .author-middle {
    opacity: 0;
    -webkit-transition: max-height 1s, opacity .7s;
    -o-transition: max-height 1s, opacity .7s;
    transition: max-height 1s, opacity .7s;
    padding: 21px 0 0;
    max-height: 0;
    overflow: hidden;
  }
  &:hover .author-middle {
    opacity: 1;
    max-height: 400px;
  }
  .author-stats li:not(last-child) {
    margin-bottom: 10px;
  }
  .author-middle .author-bio:after {
    background-color: $divider_color;
    bottom: 0;
    content: ' ';
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
  }
}

.posts-stream {
  background-color: $white;
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 200px;
  top: -1px;
  display: none;
}

.search-content {
  margin: 0 auto;
  width: 100%;
  max-width: $content_w;
  .hentry {
    padding: 30px 0 10px;
    position: relative;
  }
}

/*--------------------------------------------------------------
1.1.7 - Single Post
--------------------------------------------------------------*/

body.single-post #page {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.single-attachment .entry-header {
  margin: 70px auto 30px;
  max-width: 780px;
  padding: 0 15px;
}

.single-post {
  .entry-header:not(.has-image) {
    margin: 70px auto 30px;
    max-width: 780px;
    padding: 0 15px;
  }
  #comments .inner {
    border-top: 3px solid $divider_color;
  }
}

/*--------------------------------------------------------------
1.1.11 - Search Template
--------------------------------------------------------------*/

body.search h1.entry-title {
    margin: 20px 0 50px;
    font-size: $font-size-big;
}


/*--------------------------------------------------------------
Media queries
--------------------------------------------------------------*/


@media screen and (min-width: 1025px) {
    @import 'partials/min-width-1025px';
}

@media screen and (min-width: 1200px) {
    @import 'partials/min-width-1200px';
}
