/** Import partials **/
/** Variables **/
.site {
  padding-top: 0;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=email],
input[type=number],
textarea {
  background-color: #fff;
  border-width: 1px 1px 1px 1px;
  border-color: #54ae68;
  border-style: solid solid solid solid;
  padding: 6px 12px;
  padding: 0.6rem 1.2rem;
}

h1, h2, h3, h4, h5, h6, ul, ol, dd, table, p, address, pre, hr, figure, video {
  margin-bottom: 16px;
}

h3, h4 {
  line-height: 1.4;
}

a,
#posts-carousel h3 a {
  color: #22a7f0;
}
a:hover,
#posts-carousel h3 a:hover {
  color: #54ae68;
}

.bluebox {
  width: 100%;
  color: #fff;
  background-color: rgba(0, 152, 218, 0.85);
  padding: 20px 50px;
  padding: 2rem 5rem;
  margin: 20px 0px;
  margin: 2rem 0rem;
}

.widget-area .widget h3.widgettitle,
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
  color: #54ae68;
  font-size: 15px;
}
.widget-area .widget h3.widgettitle {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.widget-area .widget.widget_ccluk-newsletter-signup #mc_embed_signup form, .widget-area .widget.widget_custom_html #mc_embed_signup form {
  padding: 15px 0px;
  padding: 1.5rem 0rem;
}
.widget-area .widget.widget_ccluk-newsletter-signup #mc_embed_signup form #mc-embedded-subscribe.button, .widget-area .widget.widget_custom_html #mc_embed_signup form #mc-embedded-subscribe.button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-image: none;
  background-color: #22a7f0;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 10px;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: bold;
  text-wrap: balance;
  max-width: 400px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: auto;
  line-height: 1;
}
.widget-area .widget.widget_ccluk-newsletter-signup #mc_embed_signup form #mc-embedded-subscribe.button:hover, .widget-area .widget.widget_custom_html #mc_embed_signup form #mc-embedded-subscribe.button:hover {
  color: #fff;
  background-color: #54ae68;
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}
.widget-area .widget.widget_ccluk-newsletter-signup #mc_embed_signup form div.response, .widget-area .widget.widget_custom_html #mc_embed_signup form div.response {
  line-height: 1.5;
}

.dir-header {
  border-bottom: 3px solid #54ae68;
}

.archive.post-type-archive .site-content {
  max-width: 600px;
}

.archive #content > .archive-header h1,
.blog #content > .archive-header h1 {
  color: #54ae68;
}
.archive #main,
.blog #main {
  max-width: 100%;
  display: block;
}
.archive #main .post-author,
.blog #main .post-author {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  position: relative;
  z-index: 1;
}
.archive #main .post-author .author,
.blog #main .post-author .author {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.archive #main .post-author .author img,
.blog #main .post-author .author img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  vertical-align: bottom;
  margin-bottom: 5px;
}
.archive #main .post-author .author-details .author-middle,
.blog #main .post-author .author-details .author-middle {
  display: none;
}
.archive #main .post-author .author-follow,
.blog #main .post-author .author-follow {
  display: none;
}
.archive #main .post-author .entry-date time,
.blog #main .post-author .entry-date time {
  border-bottom: none;
}

.entry-header .entry-title {
  font-weight: 600;
}
.entry-header .entry-title a {
  color: #22a7f0;
}

input[type=submit] {
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: #22a7f0;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input[type=submit]:hover, input[type=submit]:active {
  background-color: #54ae68;
}

.formatted-content {
  color: rgba(0, 0, 0, 0.6);
}

.post-author .load-more-posts,
.trigger-sidebar {
  display: none;
}

.entry-caption,
.gallery-caption,
.wp-caption .wp-caption-text {
  font-size: 14px;
  line-height: 1.6;
}

a.button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-image: none;
  background-color: #22a7f0;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 10px;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: bold;
  text-wrap: balance;
  max-width: 400px;
}
a.button:hover {
  color: #fff;
  background-color: #54ae68;
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}

a.cta {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #22a7f0;
  padding: 12px 48px;
  padding: 1.2rem 4.8rem;
  padding-right: 108px;
  padding-right: 10.8rem;
  margin: 10px 30px;
  margin: 1rem 3rem;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  position: relative;
}
a.cta:hover {
  background-color: #54ae68;
}

.green-bg a.cta:hover,
.blue-bg a.cta:hover {
  color: #54ae68;
  background-color: #fff;
}
.green-bg a.cta:hover:after,
.blue-bg a.cta:hover:after {
  color: #54ae68;
}

.mfp-bg.onesocial-popup {
  background: #fff;
  opacity: 0.97;
}

.single .header-area,
.single-post .header-area,
.single-give_forms .header-area {
  position: relative;
}
.single .header-area .entry-header,
.single .header-area .sap-post-meta,
.single-post .header-area .entry-header,
.single-post .header-area .sap-post-meta,
.single-give_forms .header-area .entry-header,
.single-give_forms .header-area .sap-post-meta {
  padding-left: 15px;
  padding-right: 15px;
}
.single .header-area .sap-post-meta,
.single-post .header-area .sap-post-meta,
.single-give_forms .header-area .sap-post-meta {
  margin-top: 15px;
}
.single .entry-content li,
.single-post .entry-content li,
.single-give_forms .entry-content li {
  margin-bottom: 13px;
  margin-bottom: 1.3rem;
}
.single .entry-content.entry-summary,
.single-post .entry-content.entry-summary,
.single-give_forms .entry-content.entry-summary {
  padding-left: 15px;
  padding-right: 15px;
}
.single .entry-post-thumbnail,
.single-post .entry-post-thumbnail,
.single-give_forms .entry-post-thumbnail {
  max-width: 1200px;
  height: auto;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}
.single .entry-tags h3,
.single-post .entry-tags h3,
.single-give_forms .entry-tags h3 {
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
}
.single .entry-tags a,
.single-post .entry-tags a,
.single-give_forms .entry-tags a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #22a7f0;
  color: #fff;
}
.single .entry-tags a:hover,
.single-post .entry-tags a:hover,
.single-give_forms .entry-tags a:hover {
  background-color: #54ae68;
}
.single .comments-area #respond form input[type=text],
.single .comments-area #respond form input[type=email],
.single .comments-area #respond form textarea,
.single-post .comments-area #respond form input[type=text],
.single-post .comments-area #respond form input[type=email],
.single-post .comments-area #respond form textarea,
.single-give_forms .comments-area #respond form input[type=text],
.single-give_forms .comments-area #respond form input[type=email],
.single-give_forms .comments-area #respond form textarea {
  border: 3px solid #54ae68;
  padding: 10px 10px;
  padding: 1rem 1rem;
}
.single .comments-area #respond form p input[type=submit],
.single-post .comments-area #respond form p input[type=submit],
.single-give_forms .comments-area #respond form p input[type=submit] {
  margin-top: 5px;
  float: right;
}
.single .comments-area article,
.single-post .comments-area article,
.single-give_forms .comments-area article {
  padding: 25px 0px;
  padding: 2.5rem 0rem;
}
.single .comments-area article header,
.single-post .comments-area article header,
.single-give_forms .comments-area article header {
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
}
.single .comments-area article .comment-content p,
.single-post .comments-area article .comment-content p,
.single-give_forms .comments-area article .comment-content p {
  line-height: 1.5;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

/* styles for pages */
body.page #primary article .entry-header {
  margin: 12px 0px;
  margin: 1.2rem 0rem;
  border-bottom: 3px solid #54ae68;
}
body.page #primary article .entry-header h1.entry-title {
  font-size: 48px;
  padding-bottom: 15px;
  color: #54ae68;
}
body.page #primary article .entry-header a > .entry-title {
  color: #22a7f0;
}
body.page #primary article.has-post-thumbnail > .entry-header {
  border-bottom: none;
  padding-bottom: 0;
}
body.page #primary article.has-post-thumbnail > .entry-header img {
  margin: 12px 0px;
  margin: 1.2rem 0rem;
}
body.page.page-sidebar-active #secondary,
body.page.page-sidebar-active .default-page + #secondary, body.page.page-sidebar-active.page-template #secondary {
  margin-top: 50px;
  margin-top: 5rem;
}
body.page.page-sidebar-active #main #primary article > .entry-header > .entry-title {
  text-align: left;
}
body.page.page-template-page-nosidebar #main {
  max-width: 600px;
}
body.page.page-template-page-nosidebar #secondary {
  display: none;
}
body.page #content .row {
  margin-left: 0;
  margin-right: 0;
}
body.page #secondary .widget_subpages {
  width: 290px;
}
body.page #secondary .widget_subpages ul > li a {
  display: inline-block;
  border-left: 10px solid;
  padding-left: 15px;
  font-weight: 400;
  font-size: 15px;
}
body.page #secondary .widget_subpages ul > li a:hover {
  color: #54ae68;
}
body.page #secondary .widget_subpages ul > li.widget_subpages_current_page > a {
  color: #54ae68;
  pointer-events: none;
  cursor: default;
}
body.page #secondary .widget_subpages ul > li ul {
  margin-top: 10px;
  margin-top: 1rem;
}

body.page-template-homepage #main {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
}
body.page-template-homepage #main .section {
  display: block;
  width: 100%;
  padding: 20px 0px;
  padding: 2rem 0rem;
}
body.page-template-homepage #main .section#primary {
  max-width: 600px;
  padding: 20px 10px;
  padding: 2rem 1rem;
  margin: 0 auto;
}
body.page-template-homepage #main .section .section-content {
  max-width: 1170px;
  margin: 0 auto;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;
}
body.page-template-homepage #main .section .section-content .list-item {
  width: 300px;
  margin: 20px;
  display: inline-block;
  text-align: left;
}
body.page-template-homepage #main .section .section-content .list-item > .entry-header {
  display: block;
  margin: 12px 0;
}
body.page-template-homepage #main .section .section-content .list-item > .entry-header .entry-title {
  margin-top: 12px;
  line-height: 1.4;
  font-size: 28px;
  color: #54ae68;
}
body.page-template-homepage #main .section .section-content .list-item > .entry-header > a {
  display: block;
  margin: 0;
}
body.page-template-homepage #main .section .section-content .list-item > .entry-header > a > .entry-title {
  color: #22a7f0;
}
body.page-template-homepage #main .section .section-content .list-item > .entry-header > a > .entry-title:hover {
  color: #54ae68;
}
body.page-template-homepage #main .section .section-content .list-item > .entry-header img.wp-post-image {
  margin: 0;
}
body.page-template-homepage #main .section .section-content .list-item .entry-content .item-meta .activity {
  font-size: 85%;
  font-style: italic;
}
body.page-template-homepage #main .section .section-content .list-item .action .meta {
  font-size: 85%;
  font-style: italic;
}
body.page-template-homepage #main .section .section-title {
  text-align: center;
  margin: 0 auto;
}
body.page-template-homepage #main .section .section-title h4 {
  color: #54ae68;
  padding: 15px 30px;
  margin: 10px 30px;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px solid;
}
body.page-template-homepage #main .section .section-title a {
  display: inline-block;
}
body.page-template-homepage #main .section .section-title a > h4 {
  color: #22a7f0;
}
body.page-template-homepage #main .section .section-title a > h4:hover {
  color: #54ae68;
}
body.page-template-homepage #main .section .section-title.icon {
  display: block;
  font-size: 70px;
}
body.page-template-homepage #main .section .section-footer {
  text-align: center;
  margin: 0 auto;
}
body.page-template-homepage #main .section.banner {
  position: relative;
  padding: 0;
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;
  background-color: #54ae68;
}
body.page-template-homepage #main .section.banner .section-content > img {
  display: block;
  object-fit: cover;
}
body.page-template-homepage #main .section.banner .section-title-container {
  display: flex;
  padding: 0;
  z-index: 5;
}
body.page-template-homepage #main .section.banner .section-title-container > .section-title {
  position: relative;
  display: flex;
  flex-direction: column;
}
body.page-template-homepage #main .section.banner .section-title-container > .section-title h2 {
  font-size: 21px;
}
body.page-template-homepage #main .section.banner .section-title-container > .section-title h2,
body.page-template-homepage #main .section.banner .section-title-container > .section-title p {
  color: #fff;
}
body.page-template-homepage #main .section.banner .section-title-container > .section-title .buttons {
  margin-top: auto;
}
body.page-template-homepage #main .section.banner .section-title-container > .section-title a.button {
  color: #fff;
  text-transform: uppercase;
  margin: 10px;
  font-size: 21px;
}
body.page-template-homepage #main .section.banner.background .section-content, body.page-template-homepage #main .section.banner.background-box .section-content {
  max-width: 100%;
  background-color: #000;
}
body.page-template-homepage #main .section.banner.background .section-content > img, body.page-template-homepage #main .section.banner.background-box .section-content > img {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
}
body.page-template-homepage #main .section.banner.background .section-title-container, body.page-template-homepage #main .section.banner.background-box .section-title-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  text-align: center;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(84, 174, 104, 0.9);
  color: #fff;
}
body.page-template-homepage #main .section.banner.background .section-title-container > .section-title, body.page-template-homepage #main .section.banner.background-box .section-title-container > .section-title {
  align-self: center;
  position: relative;
  max-width: 600px;
}
body.page-template-homepage #main .section.banner.background .section-content img {
  opacity: 0.5;
}
body.page-template-homepage #main .section.banner.background-box .section-title-container {
  width: auto;
  max-width: 650px;
  top: 50%;
  left: 50%;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: auto;
  max-height: 95%;
  padding: 30px;
}
body.page-template-homepage #main .section.banner.text-left, body.page-template-homepage #main .section.banner.text-right {
  display: flex;
  flex-direction: row; /* Side by side by default */
  flex-wrap: wrap;
}
body.page-template-homepage #main .section.banner.text-left .banner-box, body.page-template-homepage #main .section.banner.text-right .banner-box {
  box-sizing: border-box;
  flex: 1;
}
body.page-template-homepage #main .section.banner.text-left .section-content, body.page-template-homepage #main .section.banner.text-right .section-content {
  order: 2;
}
body.page-template-homepage #main .section.banner.text-left .section-content > img, body.page-template-homepage #main .section.banner.text-right .section-content > img {
  width: 100%;
  height: 100%;
}
body.page-template-homepage #main .section.banner.text-left .section-title-container, body.page-template-homepage #main .section.banner.text-right .section-title-container {
  order: 1;
  background-color: #54ae68;
  color: #fff;
}
body.page-template-homepage #main .section.banner.text-left .section-title-container > .section-title, body.page-template-homepage #main .section.banner.text-right .section-title-container > .section-title {
  margin: 10%;
}
body.page-template-homepage #main .section.banner.text-left .section-title-container > .section-title h2,
body.page-template-homepage #main .section.banner.text-left .section-title-container > .section-title p, body.page-template-homepage #main .section.banner.text-right .section-title-container > .section-title h2,
body.page-template-homepage #main .section.banner.text-right .section-title-container > .section-title p {
  text-align: left;
}
body.page-template-homepage #main .section.banner.text-right .section-content {
  order: 1;
}
body.page-template-homepage #main .section.banner.text-right .section-title-container {
  order: 2;
}
body.page-template-homepage #main .section.feature .section-content {
  max-width: 580px;
}
body.page-template-homepage #main .section.feature .section-content article {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0px;
  padding: 2rem 0rem;
}
body.page-template-homepage #main .section.feature .section-content article .list-item {
  width: auto;
  margin: 0;
}
body.page-template-homepage #main .section.feature .section-content article .list-item.entry-image {
  max-width: 580px;
}
body.page-template-homepage #main .section.feature .section-content article .list-item.entry-content {
  max-width: 540px;
  padding: 0px 30px;
  padding: 0rem 3rem;
}
body.page-template-homepage #main .section.feature .section-content article .list-item.entry-content .entry-title {
  margin: 10px 0px;
  margin: 1rem 0rem;
  font-size: 36px;
}
body.page-template-homepage #main .section.about .section-content {
  text-align: center;
  align-content: center;
  justify-content: center;
}
body.page-template-homepage #main .section.about .section-content .list-item {
  padding: 30px;
  background-color: #54ae68;
  color: #fff;
  font-size: 130%;
  text-align: center;
}
body.page-template-homepage #main .section.about .section-intro,
body.page-template-homepage #main .section.about .section-footer {
  padding: 10px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
body.page-template-homepage #main .section.posts .section-content {
  max-width: 1020px;
  text-align: center;
}
body.page-template-homepage #main .section.join .section-content, body.page-template-homepage #main .section.newsletter .section-content, body.page-template-homepage #main .section.embed .section-content {
  justify-content: space-around;
  -webkit-align-items: start;
  align-items: start;
  padding: 10px 0px;
  padding: 1rem 0rem;
}
body.page-template-homepage #main .section.join .section-content .intro, body.page-template-homepage #main .section.newsletter .section-content .intro, body.page-template-homepage #main .section.embed .section-content .intro {
  color: #fff;
  font-size: 28px;
}
body.page-template-homepage #main .section.join .section-content .list-item, body.page-template-homepage #main .section.newsletter .section-content .list-item, body.page-template-homepage #main .section.embed .section-content .list-item {
  width: auto;
  max-width: 450px;
  margin: 10px 10px;
  margin: 1rem 1rem;
}
body.page-template-homepage #main .section.join .section-content .list-item .privacy-policy,
body.page-template-homepage #main .section.join .section-content .list-item .link-text, body.page-template-homepage #main .section.newsletter .section-content .list-item .privacy-policy,
body.page-template-homepage #main .section.newsletter .section-content .list-item .link-text, body.page-template-homepage #main .section.embed .section-content .list-item .privacy-policy,
body.page-template-homepage #main .section.embed .section-content .list-item .link-text {
  font-style: italic;
  font-size: 85%;
}
body.page-template-homepage #main .section.join .section-content .list-item .privacy-policy a,
body.page-template-homepage #main .section.join .section-content .list-item .link-text a, body.page-template-homepage #main .section.newsletter .section-content .list-item .privacy-policy a,
body.page-template-homepage #main .section.newsletter .section-content .list-item .link-text a, body.page-template-homepage #main .section.embed .section-content .list-item .privacy-policy a,
body.page-template-homepage #main .section.embed .section-content .list-item .link-text a {
  opacity: 0.85;
}
body.page-template-homepage #main .section.join .section-content .list-item .privacy-policy a:hover,
body.page-template-homepage #main .section.join .section-content .list-item .link-text a:hover, body.page-template-homepage #main .section.newsletter .section-content .list-item .privacy-policy a:hover,
body.page-template-homepage #main .section.newsletter .section-content .list-item .link-text a:hover, body.page-template-homepage #main .section.embed .section-content .list-item .privacy-policy a:hover,
body.page-template-homepage #main .section.embed .section-content .list-item .link-text a:hover {
  opacity: 1;
}
body.page-template-homepage #main .section.join .section-content .list-item.form form.mc4wp-form label, body.page-template-homepage #main .section.newsletter .section-content .list-item.form form.mc4wp-form label, body.page-template-homepage #main .section.embed .section-content .list-item.form form.mc4wp-form label {
  display: none;
}
body.page-template-homepage #main .section.join .section-content .list-item.form form.mc4wp-form input, body.page-template-homepage #main .section.newsletter .section-content .list-item.form form.mc4wp-form input, body.page-template-homepage #main .section.embed .section-content .list-item.form form.mc4wp-form input {
  width: 100%;
}
body.page-template-homepage #main .section.join .section-content .list-item.form form.mc4wp-form input[type=submit], body.page-template-homepage #main .section.newsletter .section-content .list-item.form form.mc4wp-form input[type=submit], body.page-template-homepage #main .section.embed .section-content .list-item.form form.mc4wp-form input[type=submit] {
  width: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-image: none;
  background-color: #22a7f0;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 10px;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: bold;
  text-wrap: balance;
  max-width: 400px;
  float: right;
}
body.page-template-homepage #main .section.join .section-content .list-item.form form.mc4wp-form input[type=submit]:hover, body.page-template-homepage #main .section.newsletter .section-content .list-item.form form.mc4wp-form input[type=submit]:hover, body.page-template-homepage #main .section.embed .section-content .list-item.form form.mc4wp-form input[type=submit]:hover {
  color: #54ae68;
  background-color: #fff;
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup {
  background: transparent;
  color: #fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 21px;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup .mc-field-group, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup .mc-field-group, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup .mc-field-group, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup .mc-field-group, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup .mc-field-group, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup .mc-field-group {
  width: 100%;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup h2, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup h2, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup h2, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup h2, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup h2, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup h2 {
  display: none;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup label, body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup input, body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup label, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup input, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup label, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup input, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup label, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup input, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup label, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup input, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup label, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup input, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup .button {
  font-size: 21px;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup .button, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup .button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-image: none;
  background-color: #22a7f0;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 10px;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: bold;
  text-wrap: balance;
  max-width: 400px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: auto;
  line-height: 1;
  float: right;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup .button:hover, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup .button:hover, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup .button:hover, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup .button:hover, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup .button:hover, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup .button:hover {
  color: #54ae68;
  background-color: #fff;
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  color: #e85c41;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  padding: 1rem 2rem;
  margin: 10px 10px;
  margin: 1rem 1rem;
  background-color: #e85c41;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup div.response, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup div.response, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup div.response, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup div.response, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup div.response, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup div.response {
  margin: 10px 10px;
  margin: 1rem 1rem;
  padding: 10px 20px;
  padding: 1rem 2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: 400;
  color: #fff;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup div.response#mce-success-response, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup div.response#mce-success-response, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup div.response#mce-success-response, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup div.response#mce-success-response, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup div.response#mce-success-response, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup div.response#mce-success-response {
  background-color: #000;
}
body.page-template-homepage #main .section.join.embed .section-content .list-item.form #mc_embed_signup div.response#mce-error-response, body.page-template-homepage #main .section.join.newsletter .section-content .list-item.form #mc_embed_signup div.response#mce-error-response, body.page-template-homepage #main .section.newsletter.embed .section-content .list-item.form #mc_embed_signup div.response#mce-error-response, body.page-template-homepage #main .section.newsletter.newsletter .section-content .list-item.form #mc_embed_signup div.response#mce-error-response, body.page-template-homepage #main .section.embed.embed .section-content .list-item.form #mc_embed_signup div.response#mce-error-response, body.page-template-homepage #main .section.embed.newsletter .section-content .list-item.form #mc_embed_signup div.response#mce-error-response {
  background-color: #e85c41;
}
body.page-template-homepage #main .section.green-bg .section-title, body.page-template-homepage #main .section.blue-bg .section-title {
  color: #fff;
}
body.page-template-homepage #main .section.green-bg .section-content form label, body.page-template-homepage #main .section.blue-bg .section-content form label {
  color: #fff;
}
body.page-template-homepage #main .section.green-bg .section-content form input[type=submit], body.page-template-homepage #main .section.blue-bg .section-content form input[type=submit] {
  background: #22a7f0;
}
body.page-template-homepage #main .section.green-bg .section-content a:not(.cta), body.page-template-homepage #main .section.blue-bg .section-content a:not(.cta) {
  color: #fff;
  text-decoration: underline;
}
body.page-template-homepage #main .section.green-bg.green-bg, body.page-template-homepage #main .section.blue-bg.green-bg {
  background-color: #54ae68;
}
body.page-template-homepage #main .section.green-bg.green-bg .section-content form input[type=submit], body.page-template-homepage #main .section.blue-bg.green-bg .section-content form input[type=submit] {
  background: #22a7f0 !important;
}
body.page-template-homepage #main .section.green-bg.blue-bg, body.page-template-homepage #main .section.blue-bg.blue-bg {
  background-color: #22a7f0;
}
body.page-template-homepage .homepage-section-title > h4 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-image: none;
  background-color: #22a7f0;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 10px;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: bold;
  text-wrap: balance;
  max-width: 400px;
}
body.page-template-homepage .homepage-section-title > h4:hover {
  color: #fff;
  background-color: #54ae68;
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}
body.page-template-homepage .site {
  padding-top: 0;
  padding-bottom: 0;
}
body.page-template-homepage #secondary {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}
body.page-template-homepage #secondary.widget-area .widget h3.widgettitle {
  text-align: center;
}
body.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li {
  width: 30%;
  float: left;
  clear: right;
  margin-right: 3%;
}
body.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li > a > img {
  clear: both;
}
body.page-template-homepage #secondary .widget.recent-posts-widget-with-thumbnails ul > li .rpwwt-post-title {
  display: block;
}
body.page-template-homepage .slick-slide img {
  min-width: 600px;
}

#findYourMP form {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}

#findYourMP form label {
  width: 30%;
  padding-right: 30px;
}

#findYourMP form input[type=text] {
  width: 35%;
  max-width: 400px;
}

.widget_mc4wp_form_widget form p input[type=submit] {
  background-color: #22a7f0;
}

.widget.widget_newsletterwidget form div input[type=submit],
.widget.widget_newsletterwidget form p input[type=submit] {
  background-color: #22a7f0;
}

input[type=button], input[type=reset] {
  background-color: #22a7f0;
}

a.button {
  background-color: #22a7f0;
}

#secondary div.generic-button a,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.entry-header .entry-title a.button,
.boss-search-wrapper label:after {
  background-color: #22a7f0;
}

#trigger-sidebar:hover .ccluk-side-icon {
  background-color: #54ae68;
}
#trigger-sidebar:hover .ccluk-side-icon:before, #trigger-sidebar:hover .ccluk-side-icon:after {
  background-color: #54ae68;
}

.dir-header span {
  color: #54ae68;
}

#posts-carousel footer a, #posts-carousel h3 a:hover {
  color: #54ae68;
}

.comments-area article header cite a {
  color: #54ae68;
}

.post-author-info .entry-meta a:not(.entry-date), .post-author-info .author-name a:hover {
  color: #54ae68;
}

.posts-stream ul li h2 a:hover,
.entry-meta a.read-more,
.bb-comment-author {
  color: #54ae68;
}

.entry-content blockquote .author,
.comment-content blockquote .author,
.entry-header .entry-title a:hover,
.widget_search #searchform button i:before {
  color: #54ae68;
}

.entry-meta a.read-more {
  color: #54ae68;
}

a.comment-reply-link:hover, a.comment-edit-link:hover {
  color: #54ae68;
}

.footer-inner-top a:hover {
  color: #54ae68;
}

#mobile-header {
  background-color: #54ae68;
}

.pagination .current {
  background-color: #54ae68;
}

.loader {
  background-color: #54ae68;
}
.loader:before, .loader:after {
  background-color: #54ae68;
}

.button-load-more-posts {
  background-color: #54ae68;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0 green;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em green;
    height: 5em;
  }
}
@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0 green;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em green;
    height: 5em;
  }
}
.entry-meta a.read-more,
input[type=submit] {
  border-color: #22a7f0;
}

.main-navigation .nav-menu > li:hover > a {
  box-shadow: 0 -2px 0 #54ae68 inset;
}
.main-navigation div > ul > .current-menu-item > a,
.main-navigation div > ul > .current-menu-ancestor > a {
  box-shadow: 0 -2px 0 #54ae68 inset;
}

.header-button.underlined {
  box-shadow: 0 -1px 0 #54ae68 inset;
}

input[type=checkbox] + span:before, input[type=checkbox] + label:before, input[type=checkbox] + strong:before {
  -moz-box-shadow: 0px 0px 0px 2px #54ae68;
  -webkit-box-shadow: 0px 0px 0px 2px #54ae68;
  box-shadow: 0px 0px 0px 2px #54ae68;
}
input[type=radio] + span:before, input[type=radio] + label:before, input[type=radio] + strong:before {
  -moz-box-shadow: 0px 0px 0px 2px #54ae68;
  -webkit-box-shadow: 0px 0px 0px 2px #54ae68;
  box-shadow: 0px 0px 0px 2px #54ae68;
}

/********** Desktop  *************/
.is-desktop .post-author .load-more-posts:hover,
.is-desktop .post-author .load-more-posts a:hover {
  color: #54ae68;
}
.is-desktop .header-button:hover {
  background-color: #54ae68;
}

.formatted-content {
  background-color: #fff;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .side-panel {
    background-color: #fff;
  }
}
body #content article {
  background-color: #fff;
}

.site-content nav.nav-single,
.site-content #comments {
  background-color: #fff;
}

.main-navigation li ul {
  background-color: #fff;
}
.main-navigation li ul ul {
  background-color: #fff;
}

#header-search form,
.site-header {
  background-color: #fff;
}

/***************** Desktop ******************/
.footer-inner-bottom {
  background-color: #333;
}

/** Styles for plugins etc. **/
.single-incsub_event .entry-header {
  margin: 12px 0px;
  margin: 1.2rem 0rem;
  border-bottom: 3px solid #54ae68;
}
.single-incsub_event .entry-header h1.entry-title {
  font-size: 48px;
  padding-bottom: 15px;
  color: #54ae68;
}
.single-incsub_event .entry-header a > .entry-title {
  color: #22a7f0;
}
.single-incsub_event .header-area {
  max-width: 600px;
  margin: 0 auto;
}
.single-incsub_event #wpmudevevents-wrapper {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.single-incsub_event #wpmudevevents-wrapper #wpmudevevents-contentheader {
  padding-top: 0;
}
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta {
  color: #54ae68;
  margin: 10px 0px;
  margin: 1rem 0rem;
  margin-top: 10px;
  padding-top: 0;
}
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_ical,
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_gcal {
  float: right;
  margin: 2px 0px;
  margin: 0.2rem 0rem;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #fff;
  background-color: #22a7f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_ical:hover,
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_gcal:hover {
  background-color: #54ae68;
}
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_ical:before,
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_ical > span,
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_gcal:before,
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_gcal > span {
  color: #fff;
  border-color: #fff;
}
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_ical:after,
.single-incsub_event #wpmudevevents-wrapper .wpmudevevents-contentmeta a.export_to_gcal:after {
  color: #fff;
  border-color: #fff transparent;
}
.single-incsub_event #wpmudevevents-wrapper #wpmudevevents-rsvps,
.single-incsub_event #wpmudevevents-wrapper #wpmudevevents-buttons,
.single-incsub_event #wpmudevevents-wrapper #wpmudevevents-user {
  display: none;
}
.single-incsub_event #wpmudevevents-wrapper div.message {
  border: none;
}
.single-incsub_event #wpmudevevents-wrapper div.message.success {
  color: #fff;
  background-color: #54ae68;
}

.incsub_event .entry-header .entry-meta,
.post-type-archive-incsub_event .entry-header .entry-meta {
  font-size: 21px;
}

/* styles for GIve donation pages */
body.single-give_forms .entry-header {
  margin: 12px 0px;
  margin: 1.2rem 0rem;
  border-bottom: 3px solid #54ae68;
}
body.single-give_forms .entry-header h1.entry-title {
  font-size: 48px;
  padding-bottom: 15px;
  color: #54ae68;
}
body.single-give_forms .entry-header a > .entry-title {
  color: #22a7f0;
}
body.single-give_forms #main {
  max-width: 600px;
}
body.single-give_forms #main #content .header-area {
  max-width: 600px;
  margin: 15px auto;
  margin: 1.5rem auto;
}
body.single-give_forms #secondary {
  display: none;
}

.give-form .give-donation-submit input[type=submit].give-btn,
.give-form button.give-btn {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-image: none;
  background-color: #22a7f0;
  text-shadow: none;
  box-shadow: none;
  padding: 6px 10px;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: bold;
  text-wrap: balance;
  max-width: 400px;
}
.give-form .give-donation-submit input[type=submit].give-btn:hover,
.give-form button.give-btn:hover {
  color: #fff;
  background-color: #54ae68;
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}

[id*=give-form] .give-recurring-donors-choice label {
  font-size: inherit;
}

#catapult-cookie-bar a.ctcc-more-info-link {
  text-decoration: underline;
}

.crp_related > h3 {
  float: none;
}
.crp_related ul {
  list-style-type: none;
}
.crp_related ul li {
  position: relative;
  min-height: 110px;
}
.crp_related ul li .crp_thumb {
  margin-right: 10px;
}
.crp_related ul li .crp_title {
  position: absolute;
  left: 235px;
  top: 0;
}