/*--------------------------------------------------------------
This is the Mobile stylesheet, served to phones and tablets.
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
>>> WORDPRESS
----------------------------------------------------------------
1.0 - All mobile devices
    1.1.1 - Basic Structure
    1.1.2 - Desktop Header
    1.1.3 - Mobile Header
    1.1.4 - Mobile Post Content
    1.1.5 - Dropdowns
    1.1.6 - Widgets
    1.1.7 - Mobile Footer
    1.1.8 - Home Template
    1.1.9 - 404 Template
----------------------------------------------------------------
>>> ADMINBAR
----------------------------------------------------------------
1.1 - All mobile devices
    1.1.1 - Layout
    1.1.2 - Mobile Header
    1.1.3 - Left Slide Drawer
        1.1.3.1 - Left Button
        1.1.3.2 - Admin Bar Layout
        1.1.3.3 - Left Navigation Animation
        1.1.3.4 - Left Content Animation
        1.1.3.5 - Left Admin Bar Content
    1.1.4 - Right Slide Drawer
        1.1.4.1 - Right Button
        1.1.4.2 - Right Menu (Pages) Layout
        1.1.4.3 - Right Navigation Animation
        1.1.4.4 - Right Content Animation
        1.1.4.5 - Right Menu (Page) Content
1.2 - Animations
    1.2.1 - Left Animation
        1.2.1.1 - Left: Menu Open
        1.2.1.2 - Left: Menu Close
        1.2.1.3 - Left: Content Open
        1.2.1.4 - Left: Content close
    1.2.2 - Right Animation
        1.2.2.1 - Right: Menu Open
        1.2.2.2 - Right: Menu Close
        1.2.2.3 - Right: Content Open
        1.2.2.4 - Right: Content close
*/
/*----------------------------------------------------------------
>>> WORDPRESS
----------------------------------------------------------------*/
/** Variables **/
/*--------------------------------------------------------------
1.0 - All mobile devices
--------------------------------------------------------------*/
body {
  background-color: #fff;
  overflow-x: hidden;
}

#main-wrap {
  position: relative;
}

.nav-inner,
.footer-inner {
  margin: 0 auto;
  padding: 0;
}

.site {
  margin: 0 auto;
  min-height: 90%;
  min-width: 220px;
  padding-bottom: 30px;
}

.page-template-homepage .site {
  padding-top: 40px;
  /* This cause Header on Mobile overlaps Slider - Home Page */
}

body:not(.single-post) footer.entry-meta {
  display: none;
}

#item-posts footer.entry-meta {
  display: block;
}
#item-posts .to-top {
  display: none;
}

/* Page Content */
body #content article {
  clear: left;
  overflow: hidden;
  background-color: #fff;
  padding: 15px 0;
  overflow: hidden;
  margin: 0;
  border-bottom: 3px solid #aaa;
}

.site-content nav.nav-single, .site-content #comments {
  clear: left;
  overflow: hidden;
  background-color: #fff;
  padding: 15px 0;
  overflow: hidden;
  margin: 0;
  border-bottom: 3px solid #aaa;
}

.site-content #comments article.comment {
  padding: 25px 0;
}

/*--------------------------------------------------------------
1.1.1 - Basic Structure
--------------------------------------------------------------*/
#primary {
  padding-left: 15px;
  padding-right: 15px;
}

.bb-side-icon {
  display: none;
}

.entry-header {
  margin-bottom: 15px;
}

.entry-title {
  font-weight: 400;
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 400;
}

.blog #primary,
.blog #inner-wrap.open-sidebar #secondary {
  width: 100%;
  margin: 0;
}

input[type=text], input[type=email], input[type=password], input[type=email], input[type=number] {
  background-color: #fff;
}

textarea {
  background-color: #fff;
}

/*--------------------------------------------------------------
1.1.2 - Desktop Header
--------------------------------------------------------------*/
header#masthead #header-aside, header#masthead #logo-area {
  display: none;
}

/*--------------------------------------------------------------
1.1.3 - Mobile Header
--------------------------------------------------------------*/
#mobile-header {
  height: 55px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
#mobile-header h1 {
  text-align: center;
  font-size: 23px;
  line-height: 55px;
  height: 55px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 60px;
  color: #fff;
}
#mobile-header h1 a {
  color: #fff;
  text-decoration: none;
}
#mobile-header .searchform {
  margin: 0 auto;
  padding: 8px 70px;
  position: relative;
  transition: padding 0.4s;
}
#mobile-header .searchform.animate-form {
  padding: 8px 10px;
  z-index: 6;
}
#mobile-header #search-close {
  display: none;
}
#mobile-header .searchform input[type=text] {
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  height: 38px;
  padding: 0 10px;
  width: 100%;
}
#mobile-header #searchsubmit {
  background: none;
  color: black;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  right: 70px;
  top: 10px;
  transition: right 0.4s;
}
#mobile-header .animate-form #searchsubmit {
  right: 10px;
}
#mobile-header #searchsubmit:hover {
  box-shadow: none;
}

/*--------------------------------------------------------------
1.1.4 - Mobile Post Content
--------------------------------------------------------------*/
.single-post .site.has-thumbnail {
  padding-top: 30px;
}

.entry-summary-thumbnail {
  margin-left: 0;
}

.entry-content,
.entry-summary {
  font-size: 18px;
}

.pagination {
  margin-bottom: 30px;
  padding: 0 20px;
}

.pagination-below {
  padding: 10px 0 20px;
}

body.archive #content article.type-post {
  padding: 35px 20px 40px 20px;
}

.gallery {
  margin: 0 -10px 20px;
}

@media screen and (max-width: 400px) {
  .gallery-columns-5 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-9 .gallery-item {
    max-width: 100%;
  }
}
/*--------------------------------------------------------------
1.1.5 - Dropdowns
--------------------------------------------------------------*/
body .buddyboss-select {
  float: none;
}

.buddyboss-select-inner {
  display: block;
  width: 100%;
  clear: both;
  padding: 0;
  margin: 0;
  font-size: 13px;
  position: relative;
  margin: 0 10px 10px 0;
  background-color: #fff;
  float: left;
  border: 3px solid #aaa;
}
.buddyboss-select-inner:after {
  font-family: "onesocial" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  display: block;
  line-height: 1;
  content: "P";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #22a7f0;
  position: absolute;
  right: 12px;
  top: 12px;
}
.buddyboss-select-inner select {
  cursor: pointer;
  height: 37px;
  width: 100%;
  opacity: 0;
  border: none;
  /* overrides browser default */
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.buddyboss-select-inner span {
  float: left;
  font-weight: 600;
  height: 37px;
  line-height: 37px;
  padding: 0 30px 0 15px;
  padding-right: 30px;
  text-transform: none;
}

.datebox .buddyboss-select:first-child, .datebox .buddyboss-select:nth-child(2) {
  margin-right: 0;
}

/*--------------------------------------------------------------
1.1.6 - Widgets
--------------------------------------------------------------*/
#secondary {
  padding: 0 15px;
}

.page #secondary {
  padding-top: 30px;
}

.footer-widget .widget h4.widgettitle {
  font-size: 20px;
}

.widget-area {
  clear: both;
}
.widget-area .widget {
  margin: 0;
  padding: 10px 0;
}
.widget-area .widget h3 {
  font-size: 20px;
}
.widget-area .widget p, .widget-area .widget li, .widget-area .widget .textwidget {
  font-size: 14px;
}
.widget-area .widget input[type=text], .widget-area .widget input[type=password], .widget-area .widget input[type=number] {
  background-color: #fff;
  height: auto;
  padding: 12px;
}
.widget-area .widget textarea {
  background-color: #fff;
  height: auto;
  padding: 12px;
}
.widget-area .widget_search input[type=text],
.widget-area .widget_display_search input[type=text] {
  background: transparent;
}
.widget-area .widget input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fff inset;
}

/*--------------------------------------------------------------
1.1.7 - Mobile Footer
--------------------------------------------------------------*/
div.footer-inner-bottom {
  font-size: 14px;
}
div.footer-inner-bottom div.footer-inner {
  padding: 0 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
div.footer-inner ul.social-icons {
  margin: 20px 0 0;
}
div.footer-inner div#footer-links {
  clear: left;
  line-height: 1.6;
}
div.footer-inner ul.footer-menu {
  margin-top: 10px;
}
div.footer-inner ul.footer-menu li {
  margin: 0 3px;
}

/*----------------------------------------------------------------
1.1.8 - Home Template
----------------------------------------------------------------*/
.article-outher {
  margin-bottom: 20px;
}
.article-outher .entry-summary p {
  margin-bottom: 14px;
}

.post-author {
  position: relative;
}

.author-details {
  display: table;
  width: 100%;
  float: left;
}

.author-middle,
.author-top {
  display: table-cell;
  vertical-align: top;
}

.author-middle {
  margin-top: -22px;
  padding-left: 0;
  padding-right: 0;
}

.author-top {
  display: block;
  position: relative;
  width: 100%;
}

.author-middle,
.author-top {
  display: block;
}

.load-more-posts {
  float: left;
  margin-top: 10px;
  width: 100%;
}

.author-details .author-middle {
  display: none;
}

.posts-stream ul li {
  padding: 20px 0;
}

.load-more-posts a {
  display: inline-block;
  margin-right: 30px;
}

.author-details .post-date {
  display: block;
}

.author-follow {
  position: absolute;
  right: 12px;
}
.author-follow span {
  display: block;
  padding-left: 0;
  margin-top: 5px;
  margin-left: -15px;
}
.author-follow div.generic-button a {
  width: 40px;
}

.author-details .author-middle .author-bio {
  display: none;
}

body #content article {
  border-bottom: 0;
  padding-top: 0;
}
body #content article.boss-create-post-wrapper {
  border-bottom: 3px solid #aaa;
  margin-bottom: 20px;
  padding: 20px 0;
}

aside.post-author:after {
  content: " ";
  clear: both;
  display: table;
}

.blog .post-author .author img {
  height: auto;
  vertical-align: bottom;
  width: 50px;
}

.author-bio {
  color: #333;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.3;
}

.author-details .author-stats {
  margin-top: 0;
  padding-top: 0;
}
.author-details .author-stats li {
  float: left;
  margin-right: 20px;
}

.single-post .entry-post-thumbnail {
  margin-bottom: 0;
}
.single-post .entry-header.has-image h1 {
  font-size: 45px;
}

/*----------------------------------------------------------------
1.1.9 - 404 Template
----------------------------------------------------------------*/
body.error404 #content article {
  padding: 0;
  border: 0;
}
body.error404 footer.entry-meta {
  display: block;
}

/*--------------------------------------------------------------
1.2 - Custom media queries
--------------------------------------------------------------*/
@media screen and (max-width: 520px) {
  #primary {
    padding-left: 10px;
    padding-right: 10px;
  }
  body.error404 .site {
    padding-left: 15px;
    padding-right: 15px;
  }
  .error404 .entry-title {
    font-size: 159px;
    max-width: 306px;
    margin: 0 auto 25px;
  }
  .error404 .entry-title:before {
    width: 189px;
    height: 103px;
    top: 49px;
  }
  body article.error404 .entry-header {
    margin-bottom: 62px;
  }
  #posts-carousel {
    padding-top: 35px;
    margin-bottom: 40px;
  }
  #posts-carousel .entry-post-thumbnail {
    height: 140px;
  }
  .single-post .entry-post-thumbnail {
    height: auto;
    margin-bottom: 0;
  }
  .single-post .entry-header.has-image h1 {
    font-size: 30px;
    max-height: 200px;
    overflow: auto;
    padding: 0;
  }
}
@media screen and (max-width: 350px) {
  .error404 .entry-title {
    font-size: 142px;
  }
}
@media screen and (max-width: 460px) {
  .author-top .author .url img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .author-follow {
    position: absolute;
    right: 0;
    top: 0;
  }
  .post-author-info .author-follow {
    left: auto;
  }
  .isCollapsed #whats-new-header #whats-new-selects {
    display: none;
  }
}
/*--------------------------------------------------------------
1.2.1 - Profile Posts
--------------------------------------------------------------*/
@media screen and (max-width: 680px) {
  #item-posts .inner article {
    width: 100%;
  }
}
/*--------------------------------------------------------------
1.1.6 - Forms
--------------------------------------------------------------*/
/* General */
/* Placeholders */
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #888;
}

/*--------------------------------------------------------------
1.1.7 - Buttons
--------------------------------------------------------------*/
.button-load-more-posts {
  margin: 0;
  display: block;
  background-color: #54ae68;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 10px 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.button-load-more-posts:hover {
  outline: none;
  color: #fff;
  text-decoration: none;
  /* Darken */
  -moz-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.25);
}

.button-load-more-posts.loading:after {
  color: #fff;
}

/*----------------------------------------------------------------
>>> ADMINBAR
----------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - All mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1.1 - Layout
--------------------------------------------------------------*/
body.open-left, body.open-right {
  cursor: pointer;
}

/** Discourage mobile touch/tap highlights **/
body, .left-btn, .right-btn, #main-wrap {
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

#mobile-header {
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}
#mobile-header .mobile-site-title {
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

.left-btn, .right-btn {
  -ms-touch-action: none;
  z-index: 3;
}

/** Modern browsers will ignore click events when menus are open **/
/** Fallback to JS transitions **/
html.buddyboss-js-transitions body #mobile-header,
html.buddyboss-js-transitions body #main-wrap,
html.buddyboss-js-transitions body #masthead,
html.buddyboss-js-transitions body #wpadminbar {
  /* modern browsers */
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  opacity: 1;
}

/*--------------------------------------------------------------
1.1.2 - Mobile Header
--------------------------------------------------------------*/
/* left and right starting point */
#main-wrap,
#colophon {
  height: 100%;
  /*left: 0;*/
  /*perspective: 1000px;*/
  position: relative;
  transition: transform 0.35s ease 0s;
}

#mobile-header {
  /*z-index: 2;*/
  z-index: 2001;
  /*Increase due to cover image*/
}
#mobile-header #mobile-logo {
  text-align: center;
}
#mobile-header #mobile-logo img {
  max-height: 40px;
  max-width: 200px;
  height: auto;
  width: auto;
  margin: 8px auto;
  display: block;
}

#main-wrap {
  z-index: 2;
}

#colophon {
  position: relative;
  z-index: 1;
}

/*--------------------------------------------------------------
1.1.4 - Right Slide Drawer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1.4.1 - Right Button
--------------------------------------------------------------*/
.right-btn {
  position: absolute;
  height: 55px;
  font-size: 0;
  padding: 0 14px;
  top: 0;
  right: 0;
  cursor: pointer;
  display: block;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */
}

body.open-right .right-btn {
  /* Click anywhere in header to close it */
  width: 100%;
}

.right-btn:before {
  font-family: "onesocial";
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  content: "B";
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  line-height: 55px;
  margin-top: 2px;
  color: #fff;
  float: right;
}

body.open-right .right-btn:before {
  opacity: 0.5;
}

#ab-pending-notifications + #ab-pending-notifications {
  display: none;
}

/***
 * If the menu-visible class is present then
 * shift the #main-wrap 240px from the right edge
 * via position: absolute to keep it in the
 * open position. When .animating, .left and
 * .right classes are not present the CSS
 * transform does not apply to #main-wrap.
 */
.menu-visible-right #main-wrap, .menu-visible-right #colophon {
  transform: translate(-240px, 0);
  -webkit-transform: translate(-240px, 0);
}

.menu-visible-left #main-wrap, .menu-visible-left #colophon {
  transform: translate(240px, 0);
  -webkit-transform: translate(240px, 0);
}

/*--------------------------------------------------------------
1.1.4.2 - Right Menu (Pages) Layout
--------------------------------------------------------------*/
#mobile-right-panel {
  background-color: #333;
  height: 100%;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  opacity: 0;
  width: 240px;
  z-index: 1;
}

.menu-visible-left #wpadminbar {
  opacity: 1;
}

.menu-visible-right #mobile-right-panel {
  opacity: 1;
}
.menu-visible-right #wpadminbar {
  opacity: 0;
}

.menu-visible-left #mobile-right-panel {
  opacity: 0;
}

/* Nav Expanding Open Effect */
body.open-right #mobile-right-panel {
  transition: transform 0.35s ease 0s;
  visibility: visible;
}

#mobile-right-panel li {
  display: block;
  float: right;
  clear: right;
  position: relative;
  width: 240px;
}
#mobile-right-panel li a {
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  padding: 14px 25px;
  line-height: 1.6;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, 0.75);
}
#mobile-right-panel li a:active, #mobile-right-panel li a:hover {
  color: rgba(255, 255, 255, 0.75);
}
#mobile-right-panel li:hover a {
  box-shadow: none;
}
#mobile-right-panel .sub-menu {
  background: rgba(0, 0, 0, 0.2);
  /*display: none;*/
  overflow: hidden;
}
#mobile-right-panel .menu-item-has-children > a {
  padding-right: 32px;
}
#mobile-right-panel .submenu-btn {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-weight: 600;
  height: 52px;
  line-height: 52px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;
  z-index: 2;
}

/*--------------------------------------------------------------
1.1.4.5 - Right Menu (Page) Content
--------------------------------------------------------------*/
/* Current Page */
.main-navigation ul {
  margin: 0;
}
.main-navigation ul.nav-menu {
  padding-bottom: 30px;
}

/* Bottom padding */
#site-navigation {
  display: none;
}

/*--------------------------------------------------------------
1.2 - Animations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.2.1 - Left Animation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.2.1.1 - Left: Menu Open
--------------------------------------------------------------*/
@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0.3;
    -webkit-transform: translate3d(30px, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@-moz-keyframes slideInLeft {
  0% {
    opacity: 0.3;
    -moz-transform: translate3d(30px, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0.3;
    transform: translate3d(30px, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
/*--------------------------------------------------------------
1.2.1.2 - Left: Menu Close
--------------------------------------------------------------*/
@-webkit-keyframes slideOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translate3d(30px, 0, 0) scale(0.97);
  }
}
@-moz-keyframes slideOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0.3;
    -moz-transform: translate3d(30px, 0, 0) scale(0.97);
  }
}
@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0.3;
    transform: translate3d(30px, 0, 0) scale(0.97);
  }
}
/*--------------------------------------------------------------
1.2.1.3 - Left: Content Open
--------------------------------------------------------------*/
@-webkit-keyframes openLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  70% {
    -webkit-transform: translate3d(260px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(240px, 0, 0);
  }
}
@-moz-keyframes openLeft {
  0% {
    -moz-transform: translate3d(0, 0, 0);
  }
  70% {
    -moz-transform: translate3d(260px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(240px, 0, 0);
  }
}
@keyframes openLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  70% {
    transform: translate3d(260px, 0, 0);
  }
  100% {
    transform: translate3d(240px, 0, 0);
  }
}
/*--------------------------------------------------------------
1.2.1.4 - Left: Content close
--------------------------------------------------------------*/
@-webkit-keyframes closeLeft {
  0% {
    -webkit-transform: translate3d(240px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes closeLeft {
  0% {
    -moz-transform: translate3d(240px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes closeLeft {
  0% {
    transform: translate3d(240px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*--------------------------------------------------------------
1.2.2 - Right Animation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.2.2.1 - Right: Menu Open
--------------------------------------------------------------*/
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0.3;
    -webkit-transform: translate3d(-30px, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
}
@-moz-keyframes slideInRight {
  0% {
    opacity: 0.3;
    -moz-transform: translate3d(-30px, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0.3;
    transform: translate3d(-30px, 0, 0) scale(0.97);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
/*--------------------------------------------------------------
1.2.2.2 - Right: Menu Close
--------------------------------------------------------------*/
@-webkit-keyframes slideOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translate3d(-30px, 0, 0) scale(0.97);
  }
}
@-moz-keyframes slideOutRight {
  0% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0.3;
    -moz-transform: translate3d(-30px, 0, 0) scale(0.97);
  }
}
@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    opacity: 0.3;
    transform: translate3d(-30px, 0, 0) scale(0.97);
  }
}
/*--------------------------------------------------------------
2.2.3 - Right: Content Open
--------------------------------------------------------------*/
@-webkit-keyframes openRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  70% {
    -webkit-transform: translate3d(-260px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-240px, 0, 0);
  }
}
@-moz-keyframes openRight {
  0% {
    -moz-transform: translate3d(0, 0, 0);
  }
  70% {
    -moz-transform: translate3d(-260px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(-240px, 0, 0);
  }
}
@keyframes openRight {
  0% {
    transform: translate3d(0, 0, 0);
  }
  70% {
    transform: translate3d(-260px, 0, 0);
  }
  100% {
    transform: translate3d(-240px, 0, 0);
  }
}
/*--------------------------------------------------------------
1.2.2.4 - Right: Content close
--------------------------------------------------------------*/
@-webkit-keyframes closeRight {
  0% {
    -webkit-transform: translate3d(-240px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes closeRight {
  0% {
    -moz-transform: translate3d(-240px, 0, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
  }
}
@keyframes closeRight {
  0% {
    transform: translate3d(-240px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*--------------------------------------------------------------
>>>PLUGINS
--------------------------------------------------------------*/
/* Register Page */
body.register .page-full-width {
  padding: 50px 25px;
}

.datebox {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.datebox .buddyboss-select:nth-child(2), .datebox .buddyboss-select:nth-child(3) {
  padding-top: 25px;
}

body.register .page-full-width .entry-title {
  font-size: 34px;
  margin-bottom: 20px;
}

div#register-page .register-section, div#register-page .security-question-section {
  border: 0;
  box-shadow: none;
  padding: 0;
}

#page .boss-editor-area-container .sap-editor-area-wrapper .medium-insert-active,
.page-template-sap-post-create-template .sap-editor-area-wrapper .medium-insert-active {
  padding-left: 40px;
}

.boss-editor-area-container .medium-insert-buttons {
  left: 0 !important;
  margin-top: -5px;
}

.page-template-sap-post-create-template .boss-create-post-container {
  max-width: 100%;
  padding: 30px 20px;
}

.sap-editor-area-wrapper .sap-editable-title.sap-editable-title {
  font-size: 26px;
}

@media screen and (max-width: 400px) {
  .sap-publish-popup.sap-publish-popup .button {
    padding: 8px 10px;
    margin-right: 2px;
    font-size: 14px;
  }
}
#page .boss-tooltip:after {
  left: auto;
  right: -5px;
}

.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.blog .site-content {
  max-width: 100%;
}

.archive.tag .site-content, .archive.date .site-content, .archive.author .site-content, .archive.category .site-content {
  max-width: 100%;
}

@media screen and (min-width: 500px) {
  #wp-calendar {
    max-width: 500px;
  }
}
/*--------------------------------------------------------------
Responsive media queries (mobile styles)
--------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 900px) {
  div.footer-inner.widget-area {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .footer-widget.footer-widget {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
}
@media screen and (max-width: 630px) {
  div.footer-inner.widget-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 622px) {
  .popup-content .col {
    float: none;
    padding: 0;
    float: none;
    clear: both;
    width: 100%;
  }
  .popup-content .col.with-plugin {
    padding-right: 0;
    padding-top: 40px;
  }
}
@media screen and (min-width: 400px) and (max-width: 622px) {
  .wp-social-login-provider-list a:before {
    padding-right: 4%;
    padding-left: 0;
  }
}
/*--------------------------------------------------------------
Mobile Header
--------------------------------------------------------------*/
#mobile-header {
  background-color: #fff !important;
  padding-top: 8px;
  height: 70px;
}
#mobile-header h1 {
  color: #000;
}
#mobile-header h1 a {
  color: #000;
}
#mobile-header .left-btn,
#mobile-header .right-btn {
  padding-top: 8px;
}
#mobile-header .left-btn:before,
#mobile-header .right-btn:before {
  color: #333;
  font-size: 21px;
}
#mobile-header #mobile-logo img {
  max-height: 70px;
  max-width: 300px;
  margin: 5px auto;
}

/*--------------------------------------------------------------
Mobile Menu
--------------------------------------------------------------*/
#mobile-right-panel li {
  width: 100%;
}
#mobile-right-panel li > a {
  font-weight: 600;
}
#mobile-right-panel li a {
  color: #22a7f0;
}
#mobile-right-panel li a:hover {
  color: #54ae68;
}
#mobile-right-panel li.current-menu-item, #mobile-right-panel li:hover {
  background-color: #fff;
}
#mobile-right-panel li.current-menu-item > a, #mobile-right-panel li:hover > a {
  color: #54ae68;
}
#mobile-right-panel li.current-menu-item .sub-menu, #mobile-right-panel li:hover .sub-menu {
  background-color: #333;
}
#mobile-right-panel .sub-menu li a {
  font-weight: 400;
  padding-left: 40px;
}
#mobile-right-panel .submenu-btn {
  color: #22a7f0;
  right: 20px;
}
#mobile-right-panel .submenu-btn:hover {
  color: #54ae68;
}

/*--------------------------------------------------------------
Is mobile
--------------------------------------------------------------*/
body.is-mobile.single #primary,
body.is-mobile.single #secondary,
body.is-mobile.single .site-content, body.is-mobile.archive #primary,
body.is-mobile.archive #secondary,
body.is-mobile.archive .site-content, body.is-mobile.page:not(.home) #primary,
body.is-mobile.page:not(.home) #secondary,
body.is-mobile.page:not(.home) .site-content {
  max-width: 700px;
  margin: 0 auto;
}
body.is-mobile.single.page.page-sidebar-active #secondary, body.is-mobile.archive.page.page-sidebar-active #secondary, body.is-mobile.page:not(.home).page.page-sidebar-active #secondary {
  margin-top: 20px;
  margin-top: 2rem;
}
body.is-mobile.single.page.page-sidebar-active #secondary .widget, body.is-mobile.archive.page.page-sidebar-active #secondary .widget, body.is-mobile.page:not(.home).page.page-sidebar-active #secondary .widget {
  margin-bottom: 30px;
  margin-bottom: 3rem;
}
body.is-mobile #main-wrap {
  padding-top: 70px;
}

/*--------------------------------------------------------------
MAXIMUM width of 1024 pixels (tablets)
--------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  body div.footer-inner-bottom .footer-inner {
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
  body .entry-title,
  body h2 {
    font-size: 28px;
  }
  body.page #secondary.widget-area {
    margin: 20px auto;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  body.page #secondary.widget-area .widget {
    width: 320px;
    padding: 0 15px;
    border-bottom: none;
  }
  body.register div#register-page p {
    font-size: 15px;
  }
  body.single #primary,
  body.single #secondary,
  body.single .site-content, body.archive #primary,
  body.archive #secondary,
  body.archive .site-content, body.page:not(.home) #primary,
  body.page:not(.home) #secondary,
  body.page:not(.home) .site-content {
    max-width: 700px;
    margin: 0 auto;
  }
  body.single.page.page-sidebar-active #secondary, body.archive.page.page-sidebar-active #secondary, body.page:not(.home).page.page-sidebar-active #secondary {
    margin-top: 20px;
    margin-top: 2rem;
  }
  body.single.page.page-sidebar-active #secondary .widget, body.archive.page.page-sidebar-active #secondary .widget, body.page:not(.home).page.page-sidebar-active #secondary .widget {
    margin-bottom: 30px;
    margin-bottom: 3rem;
  }
  body #main-wrap {
    padding-top: 70px;
  }
  #secondary.widget-area {
    border-left: none;
  }
  .bb-has-sidebar #main {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sidebar-left #main, .sidebar-left .search-content-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .search-content-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .bb-has-sidebar .search-content {
    max-width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  .sidebar-left #secondary, .sidebar-right #secondary {
    margin: 0;
  }
  .site-content #secondary {
    padding: 0;
  }
  .bb-has-sidebar #trigger-sidebar {
    display: none;
  }
  .home-inner-wrap #secondary {
    display: block !important;
  }
  .blog .site-content {
    max-width: 100%;
  }
  .archive.tag .site-content, .archive.date .site-content, .archive.author .site-content, .archive.category .site-content {
    max-width: 100%;
  }
  .archive.author .archive-header .author-avatar {
    top: 0;
  }
}
/*--------------------------------------------------------------
MAXIMUM width of 768 pixels (vertical tablets & large phones)
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  body.page-template-homepage #main .section.banner {
    max-height: 100%;
  }
  body.page-template-homepage #main .section.banner.text-left, body.page-template-homepage #main .section.banner.text-right {
    flex-direction: column;
  }
  body.page-template-homepage #main .section.banner.text-left .section-content, body.page-template-homepage #main .section.banner.text-right .section-content {
    order: 1;
  }
  body.page-template-homepage #main .section.banner.text-left .section-title-container, body.page-template-homepage #main .section.banner.text-right .section-title-container {
    order: 2;
  }
  body.page-template-homepage #main .section.banner.text-left .section-title-container > .section-title, body.page-template-homepage #main .section.banner.text-right .section-title-container > .section-title {
    width: 100%;
    text-align: center;
    margin: 20px 10px;
    margin: 2rem 1rem;
  }
  body.page-template-homepage #main .section.banner.text-left .section-title-container > .section-title h2,
  body.page-template-homepage #main .section.banner.text-left .section-title-container > .section-title p, body.page-template-homepage #main .section.banner.text-right .section-title-container > .section-title h2,
  body.page-template-homepage #main .section.banner.text-right .section-title-container > .section-title p {
    text-align: center;
  }
  body.page #primary article > .entry-header h1.entry-title {
    font-size: 36px;
  }
  html.js {
    margin-top: 0 !important;
  }
  .col.col {
    clear: both;
    width: 100%;
  }
}
/*--------------------------------------------------------------
MAXIMUM width of 520 pixels (large phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 520px) {
  .single-ccluk_news .entry-header.has-image h1 {
    font-size: 36px;
    max-height: 200px;
    overflow: auto;
    padding: 0;
  }
  .post-author-info .author-follow {
    right: 0;
  }
  .dir-header {
    font-size: 36px;
  }
  .single-post .entry-header.has-image h1 {
    font-size: 36px;
  }
  body.page-template-homepage #main .section.banner .section-title-container {
    padding: 20px;
  }
  body.page-template-homepage #main .section.banner .section-title-container > .section-title h2 {
    font-size: 28px;
  }
  body.page-template-homepage #main .section.banner .section-title-container > .section-title p,
  body.page-template-homepage #main .section.banner .section-title-container > .section-title a.button {
    font-size: 15px;
  }
  .site .buddyboss-media-photos-wrap-container {
    max-width: 400px;
  }
  .wp-block-media-text.is-stacked-on-mobile {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*--------------------------------------------------------------
MAXIMUM width of 480 pixels (phones)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  body {
    background-color: #fff;
  }
  body #mobile-header #mobile-logo img {
    max-height: 44px;
    max-width: 200px;
    margin: 10px auto;
  }
  body #mobile-header .left-btn {
    height: 35px;
    width: 35px;
  }
  body #mobile-header .right-btn:before {
    line-height: 35px;
    font-size: 15px;
  }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: inherit;
  }
  body a.cta {
    padding-right: 68px;
    padding-right: 6.8rem;
  }
  body .entry-content blockquote img {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  body.admin-bar.admin-bar.admin-bar {
    margin-top: 0 !important;
  }
  .single-post .header-area {
    clear: both;
    overflow: hidden;
    position: relative;
  }
  .single-post .entry-header.has-image {
    padding-top: 55px;
  }
  .single-post .entry-header.has-image h1 {
    font-size: 24px;
  }
  .single-attachment .entry-header,
  .single-post .entry-header:not(.has-image) {
    margin: 90px auto 10px;
    padding: 0 15px;
  }
  .site-header .site-title {
    width: 160px;
  }
}
/*--------------------------------------------------------------
MAXIMUM width of 320 pixels (small phones)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {
  #mobile-header #mobile-logo img {
    max-width: 200px;
  }
  #leftcolumn {
    margin-top: 15px;
  }
}