$font-size-tiny: rem(12);
$font-size-sm: rem(15);
$font-size-min: rem(18);
$font-size-std: rem(21);
$font-size-mid: rem(28);
$font-size-lg: rem(36);
$font-size-big: rem(48);
$font-size-vlg: rem(70);
$font-size-huge: rem(160);
$font-default: 'Open Sans', Arial, Helvetica, sans-serif;
$font-heading: Ubuntu, Arial, Helvetica, sans-serif;
$std_pad: $font-size-tiny;