body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  /* [2] */
  font-size: 16px;
  line-height: 1.625;
  /* [3] */
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [5] */
  -webkit-text-size-adjust: 100%;
  /* [5] */
  color: #333;
  /* [additional] */
}

a {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

img {
  border: 0;
  /* [1] */
  font-style: italic;
  /* [2] */
  height: auto;
  /* [3] */
  max-width: 100%;
  /* [4] */
  vertical-align: middle;
  /* [5] */
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.85714;
  text-align: center;
}

h2 {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.08333;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h5 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3125rem;
  line-height: 1.44444;
}

h6 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.625;
}

.site-header {
  z-index: 27;
}

.footer-widget {
  float: left;
  margin-right: 0;
  padding: 0 15px;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0%;
  flex: 1 1 0;
  min-width: 1px;
  /* Firefox-34-ignoring-max-width-for-flexbox */
}

.site-content {
  margin: 0;
}

.entry-content {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.widget-area {
  margin: 0;
}

.entry-header {
  margin-bottom: 15px;
}

input {
  line-height: normal;
}

button {
  overflow: visible;
  text-transform: none;
}

textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}