// 1.1.3 - Footer Widgets
// 1.2.4 - Footer
  /* sticky footer */
#colophon {
  /* '.push' must be the same height as 'footer' */
  /*margin: 0 auto -6.5000rem;  the bottom margin is the negative value of the footer's height */
.footer-inner {
  @include centred-margin();
  max-width: $content_w_max;
}
// 1.1.3 - Footer Widgets
.footer-widget {
  float: left;
  margin-right: 0;
  padding: 0 0.9375rem;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0%;
  flex: 1 1 0;
  min-width: 0.0625rem;
  /* Firefox-34-ignoring-max-width-for-flexbox */
div.footer-inner.widget-area {
  @include display-flex();
  padding: 0;
  .footer-inner {
    margin: 0 auto;
    padding: 0;
  }
  body:not(.single-post) footer.entry-meta {
    display: none;
  .footer-widget .widget h4.widgettitle {
    font-size: $font-size-std;
// 1.1.7 - Mobile Footer
    &.footer-inner-bottom {
      font-size: $font-size-sm;
      div.footer-inner {
        padding: 0 1.2500rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    &.footer-inner {
      ul.social-icons {
        margin: 1.2500rem 0 0;
      div#footer-links {
        clear: left;
        line-height: 1.6;
      ul.footer-menu {
        margin-top: 0.6250rem;
        li {
          margin: 0 0.1875rem;
        }
      footer.entry-meta {
        display: block;
  #colophon {
    height: 100%;
    position: relative;
    transition: transform 0.35s ease 0s;
    z-index: 1;
    #colophon {
      transform: translate(-15.0000rem, 0);
      -webkit-transform: translate(-15.0000rem, 0);
    }
  div.footer-inner.widget-area {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  .footer-widget.footer-widget {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
}
}
}
}
}
}
}
}
}
}
}
}
}
