/*--------------------------------------------------------------
Mobile Header
--------------------------------------------------------------*/

#mobile-header {
    background-color: $white !important;
    padding-top: 8px;
    height: 70px;

	h1 {
	    color: $black;
	
		a {
		    color: $black;
		}
	}

	.left-btn,
	.right-btn {
		padding-top: 8px;

		&:before {
			color: $dark;
			font-size: $font-size-std;
		}
	}

	#mobile-logo {
		img {
			max-height: 70px;
			max-width: 300px;
			margin: 5px auto;
		}
	}
}

/*--------------------------------------------------------------
Mobile Menu
--------------------------------------------------------------*/

#mobile-right-panel {

	li {
		width: 100%;
		> a {
			font-weight: 600;
		}
		a {
			color: $blue;
			&:hover {
				color: $green;
			}
		}
		&.current-menu-item,
		&:hover {
			background-color: $white;
			> a {
				color: $green;
			}

			.sub-menu {
				background-color: $dark;
			}
		}
	}

	.sub-menu {
		li {
			a {
				font-weight: 400;
				padding-left: 40px;
			}
		}
	}

	.submenu-btn {
		color: $blue;
		right: 20px;

		&:hover {
			color: $green;
		}
	}
}

/*--------------------------------------------------------------
Is mobile
--------------------------------------------------------------*/

body.is-mobile {
	@include mobile-styles();
}
